<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-task-coroner.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-column-two-thirds">
              <div class="nhsuk-panel nhsuk-u-margin-bottom-5"
                   style="background: #005EB8; margin-top: 0;">
                <h1 class="nhsuk-panel__title"
                    style="color: white;">Notification sent</h1><span class="nhsuk-caption-l nhsuk-caption--bottom"
                     style="text-align: center; color: white;">We've sent this case to the coroner</span>
              </div>
              <h3>What happens next</h3>
              <p>You'll need to wait until the coroner accepts or rejects this case.</p><a class="nhsuk-button"
                   draggable="false"
                   href="coroner-notification-martin-lincoln-sent">Finish</a><br>
              <!--<a href="javascript:history.back()">Return to previous page without saving</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>{% endblock %}
  </div>
</body>
</html>
