<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-history.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Case overview {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-u-margin-bottom-4"><span role="text">Communication and concerns</span></h1>
              </div>
            <div class="nhsuk-grid-column-two-thirds">
           <!-- <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="case-history-martin-lincoln">Communication and concerns</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="case-communication-martin-lincoln">Discussion with main contact about scrutiny</a>
                </li>
      
                      <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="case-contacts-martin-lincoln">Contacts</a>
                </li>
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="case-kpics-martin-lincoln">Key people involved in care</a>
                </li>

              </ul>
            </nav> <hr style="border-bottom:1px solid #ccc; margin:0">-->
            <br>       
            <h2>Discussion with the main contact about the cause of death</h2>     
            <table class="nhsuk-table">
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row"
                    role="row">
                    <td class="nhsuk-table__cell"
                    style="font-weight:700; padding: 8px 24px 8px 0px;">Main contact involved in this discussion </td>
                <td class="nhsuk-table__cell"
                    style="padding: 8px 24px 8px 0px;">Sheila Lincoln</td>
                <td class="nhsuk-table__cell"
                    style="text-align: right; padding: 8px 24px 8px 0px;">
                  <a class="nhsuk-link"
                      href="main-contact-discussion-no">Change</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row"
                    role="row">
                    <td class="nhsuk-table__cell"
                    style="font-weight:700; padding: 8px 24px 8px 0px;">Date of discussion </td>
                <td class="nhsuk-table__cell"
                    style="padding: 8px 24px 8px 0px;">24 February 2022</td>
                <td class="nhsuk-table__cell"
                    style="text-align: right; padding: 8px 24px 8px 0px;">
                  <a class="nhsuk-link"
                      href="main-contact-discussion-no">Change</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row"
                    role="row">
                    <td class="nhsuk-table__cell"
                    style="font-weight:700; padding: 8px 24px 8px 0px;">Time of discussion </td>
                <td class="nhsuk-table__cell"
                    style="padding: 8px 24px 8px 0px;">14:15</td>
                <td class="nhsuk-table__cell"
                    style="text-align: right; padding: 8px 24px 8px 0px;">
                  <a class="nhsuk-link"
                      href="main-contact-discussion-no">Change</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row"
                role="row">
                <td class="nhsuk-table__cell"
                style="font-weight:700; padding: 8px 24px 8px 0px;">Details of discussion</td>
            <td class="nhsuk-table__cell"
                style="padding: 8px 24px 8px 0px;"></td>
            <td class="nhsuk-table__cell"
                style="text-align: right; padding: 8px 24px 8px 0px;">
              <a class="nhsuk-link"
                  href="main-contact-discussion-no">Change</a>
            </td>
            </tr>
      
              </tbody>
            </table> 
            <h2>Other communication and concerns</h2> 
            
              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>Awaiting medical examiner to review the concern raised.</p>
              </div>
                 <table id="sortable" class="nhsuk-table  nhsuk-table-u-margin-0 nhsuk-table-clickable main-table sortable">

                      <!-- TABLE START -->
                      <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">


                          <th class="nhsuk-table__header" scope="col">
                            Name
 
                           </th>
                           <th class="nhsuk-table__header" scope="col">
                            Type
 
                           </th>
                        
                          <th class="nhsuk-table__header" scope="col">
                           Date

                          </th>


                          <th class="nhsuk-table__header" scope="col">
                            Action

                          </th>

                        </tr>
                      </thead>

                      <tbody class="nhsuk-table__body ">

                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">Sheila Lincoln</td>
                          <td class="nhsuk-table__cell">Concern</td>
                          <td class="nhsuk-table__cell">29 August 2020</td>
                          <td class="nhsuk-table__cell"><a href="cya-concern-martin-lincoln">View<span class="nhsuk-u-visually-hidden">flagged treatment for Laura peteers</span></a></td>   
                          </tr>


                      </tbody>
                    </table>
                    <p class="nhsuk-body"><a class="nhsuk-link"
                      href="add-event-existing-contact">Add a person or record communication</a></p>
                   <!-- <h3>Communication with main contact about scrutiny</h3>
                 <p class="nhsuk-body"><a class="nhsuk-link"
                    href="main-contact-discussion">Add discussion with main contact about scrutiny</a></p>-->
                 </div>           
           </div>
          </div>
        </div>
      </div>
      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS number 997 536 0025</span><span class="nhsuk-caption-m nhsuk-caption--bottom"><span class=
          "nhsuk-u-visually-hidden">-</span> <strong class="nhsuk-tag nhsuk-tag--red">Urgent</strong></span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a href="case-overview-martin-lincoln3">Case details</a>
                </li>
                <li>
                  <a href="case-scrutiny-martin-lincoln">Case scrutiny</a>
                </li>
                <li>
                  <a class="active"
                      href="case-history-martin-lincoln">Communication and concerns</a>
                </li>
                <li>
                  <a href="coroner-notification-martin-lincoln">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul><!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button==secondary" type="submit">Add note</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>{% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %} {% endblock %}
</body>
</html>
