
<li {% if activesub == "create" %} class="nav-active"{% endif %}>							
    <a href="create-case">
        Overview
    </a>
</li>
<li>
    <h3 class="nhsuk-heading-s" style="font-size: 19px; color:#4c6272">Cases</h3>
</li>
<li {% if activesub == "cases" %} class="nav-active"{% endif %}>							
    <a href="all-cases"> 
        All cases
    </a>
</li>

<li {% if activesub == "up-cases" %} class="nav-active"{% endif %} class="nav-inactive">							
    <a href="urgent-priority-cases">
        Urgent and priority
    </a>
</li>

<li {% if activesub == "feedback-cases" %} class="nav-active"{% endif %} class="nav-inactive">								
    <a href="cases-awaiting-feedback">
        Awaiting coroner feedback
    </a>
</li>

<li {% if activesub == "closed-cases" %} class="nav-active"{% endif %} class="nav-inactive">	
    <a href="closed-cases">
        Closed cases
    </a>
</li>
