<div class="nhsuk-grid-row">


	<div class="nhsuk-form-group">
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			1A
		</label>
		<textarea class="nhsuk-textarea multi-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
		<textarea class="nhsuk-textarea multi-textarea nhsuk-u-width-two-thirds" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
	</div>

	<div class="nhsuk-form-group">
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			1B
		</label>
		<textarea class="nhsuk-textarea multi-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
		<textarea class="nhsuk-textarea multi-textarea nhsuk-u-width-two-thirds" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
	</div>

	<div class="nhsuk-form-group">
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			1C
		</label>
		<textarea class="nhsuk-textarea multi-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
		<textarea class="nhsuk-textarea multi-textarea nhsuk-u-width-two-thirds" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
	</div>

	<div class="nhsuk-form-group">
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			2
		</label>
		<textarea class="nhsuk-textarea multi-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
		<div class="nhsuk-grid-column-one-half">
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
		<textarea class="nhsuk-textarea multi-textarea nhsuk-u-width-two-thirds" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
		</div>
	</div>


</div>

