      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			1(a) disease or condition directly leading to death (required)
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>
<br>
	

      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			1(b) other disease or condition leading to 1(a)
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>	
<br>

      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			1(c) other disease or condition leading to 1(b)
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>
<br>

      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			2 – Other significant conditions
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>
<br>


<br><br>

