<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-task-coroner.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <a href="javascript:history.back()">Go back</a>
            <h1>Coroner notification</h1>
            <p class="nhsuk-body">These are the details that were sent to the coroner.</p>
            <div class="nhsuk-form-group">
              <h2 class="nhsuk-heading-l">Notification details</h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;"><span class="strong">Notifying doctor</span></td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['firstname']}} {{data['surname']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">GMC number</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['gmc']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Contact details</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['email']}} {{data['phone']}} {{data['mobile']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Did the notifying doctor see the deceased person alive within the last 28 days?</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['case']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Reason for notification to the coroner</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['additional-info']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Did the deceased suffer from mental health issues?</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['mental-health']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Has the case been reported to the police?</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">{{data['police']}}</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l">Deceased person's details</h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Name</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Martin Lincoln</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Date of birth</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">2 November 1935</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">NHS Number</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">997 536 0025</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Hospital number</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">66543</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Sex</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">male</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Date and time of death</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">28/08/2020<br>
                    16:03</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Rapid release?</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Yes</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Home address</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">6 Abbey farm<br>
                    Winchester<br>
                    WC4 6OJ</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Job</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Coal Miner<br>
                    Went down into pits for 36 years</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">Location of death</span></h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Location of death</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Hospital or acute setting<br>
                    RVI newcastle</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Location details</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Ward 26</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Date of admission</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">20/08/2020</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l">AP's proposed cause of death</h2>
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">
                  Skin symptoms and possible causes
                </caption>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">AP who proposed cause of death</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Dr Andrew Nixon</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Cause of death summary</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">86yrs, diagnosed with colon cancer 5 years ago. treated with chemotherapy. later advised the cancer had advanced too far&nbsp;for treatment to be effective.&nbsp;received palliative care
                        whilst at home. August&nbsp;2020 Marty returned&nbsp;to hospital&nbsp;as his condition had worsened. passed away peacefully 28/08/2020.</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l">Key people involved in care</h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Consultant involved in care</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Dr Jane Smith<br>
                    0191 123 4556</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Usual GP</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Dr Abdul Malik<br>
                    The hospital<br>
                    Leeds<br>
                    LS2 5ZN<br>
                    0191 223 3445</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table><br>
            </div>
          </div>
        </div>{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
