<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-task-copy4.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
              <a href="case-scrutiny-martin-lincoln3">Go back</a>
            <h1><span class="nhsuk-caption-l nhsuk-caption--bottom">Case scrutiny - Martin Lincoln</span>Medical examiner's proposed cause of death</h1>
<div class="nhsuk-form-group">
              <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">


      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			1A
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>
<br>
	

      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			1B
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>	
<br>

      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			1C
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>
<br>

      <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="example">
			2
		</label>
    <input class="nhsuk-input nhsuk-input--width-75" id="input-width-75" name="test-width-75" type="text">		
		<label class="nhsuk-label" for="example">
			Approximate interval between onset and death
		</label>
<input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
</div>
<br>


<br><br>

            <div class="nhsuk-form-group">
              <div class="govuk-warning-text nhsuk-form-group nhsuk-u-padding-bottom-5">
                <span aria-hidden="true"
                     class="govuk-warning-text__icon">!</span> <span class="govuk-warning-text__text">You must agree to the declaration in order to close the case</span>
              </div>
            </div>
            <div class="nhsuk-form-group">
              <fieldset aria-describedby="example-hint"
                        class="nhsuk-fieldset">
                <div class="nhsuk-checkboxes">
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input"
                         id="example-1"
                         name="example"
                         type="checkbox"
                         value="email"> <label class="nhsuk-label nhsuk-checkboxes__label"
                         for="example-1">I confirm that i have:</label>
                    <ul>
                      <li><label class="nhsuk-label nhsuk-checkboxes__label"
                             for="example-1"><span>carried out an independent and proportionate scrutiny of this death</span></label></li>
                      <li><label class="nhsuk-label nhsuk-checkboxes__label"
                             for="example-1"><span>complied with the national medical examiners guidance</span></label></li>
                    </ul>
                  </div>
              </fieldset>
            </div>
            <a class="nhsuk-button"
                 draggable="false"
                 href="me-outcomes-martin-lincoln">Save and continue</a>
  <div class="nhsuk-u-width-one-half">

  </div>    
            </div>
        </div>
        </div>
      </div>
    </div>{% endblock %}
  </div>
</body>
</html>
