// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/notification-panel';
@import 'components/progress-bar';
@import 'components/tab-panels';
@import 'components/main-template';
@import 'components/pagination';
@import 'components/cases-expander-test';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////


// class to disable side nav links during testing sessions, just add to relevant <li>

.nav-inactive a {
    pointer-events: none; 
    cursor: default; 
    text-decoration: none; 
    color: 	#768692!important; 
}

.inactive {
    pointer-events: none!important; 
    cursor: default!important; 
    
    color: 	#768692!important; 
}

.disable-dropdown {
    pointer-events: none!important; 
    cursor: default!important; 
}

.nav-active {
    background-color: #005EB8;
    font-weight: 600;
}

.nav-active a {
    color: white!important;
}

// Expander Tweaks

.nhsuk-details__summary:before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
}

.nhsuk-details__above--third {
    width: 33%;
    display: inline-block;
    .case-type-center {
        text-align: center;
    }
    p {
        margin-bottom: 0px;
        &.case-stage-title {
            margin-bottom: 32px;
        }
        &.status-title {
            margin-bottom: 32px;
            text-align: center;
        }
        &.edit-title {
            margin-bottom: 32px;
            text-align: right;
        }
    }
}

.nhsuk-details__summary-text--third {
    width: calc(33.33% - 20px);
    display: inline-block;
    .case-type-center {
        text-align: center;
    }
    p {
        margin-bottom: 0px;
    }
    a {
        line-height: 15px;
        float: right;
        margin-bottom: 0px;
    }
}

.nhsuk-details__summary-text-center {
    text-align: center;
}

.nhsuk-details {
    background-color: #ffffff;
    border-top: 4px solid transparent;
    display: inline-block;
    padding: 20px 24px 24px;
    width: 100%;
}

.nhsuk-expander-group {
    width: 100%;
    display: block;
}

.table-text-small {
    font-size: 14px;
    color: grey;
}

.nhsuk-table__button--incomplete {
    color: #ffb81C !important;
    border: 2px solid #ffb81C;
}

.nhsuk-table__button--incomplete:hover {
    color: white!important;
    background-color: #ffb81C;
}

.nhsuk-table__button--not-started {
    color: 	#768692!important;
    border: 2px solid #768692;
}

.nhsuk-table__button--not-started:hover {
    color: white!important;
    background-color: 	#768692;
}

.nhsuk-expander .nhsuk-details__summary {
    padding: 0px!important;
}

.nhsuk-expander .nhsuk-details__summary-text {
    background: none!important;

    
}
.nhsuk-expander .nhsuk-details__summary:focus .nhsuk-details__summary-text {
    background-color: #ffeb3b!important;
    box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
    background: #ffeb3b ;
   
}

.nhsuk-expander .nhsuk-details__summary-text:before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
}
.nhsuk-expander[open] .nhsuk-details__summary:focus .nhsuk-details__summary-text {
    
    background-color: #ffeb3b!important;
    box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
}

.nhsuk-expander[open] .nhsuk-details__summary-text:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 12.124px 7px 0 7px;
    border-top-color: inherit;
}

// NEW SIDEBAR


.nhsBSA-sidebar-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 99px);
    margin: 0;
    padding: 0;
    @media (min-width: 48.0525em) {
      min-height: calc(100vh - 80px);
    }
    
    .nhsBSA-sidebar-wrapper {
      flex: 1 0 auto;
      display: flex;
      
      .nhsBSA-sidebar-content {
        flex: 1 0 auto;
        background-color: $color_nhsuk-grey-5;
        padding: 0px;
        margin: 0px;


        .nhsuk-main-wrapper {
          padding-top: 40px;
          padding-bottom: 40px;
          display: block;

          @media (min-width: 40.0625em) {
              padding-top: 32px;
          }
          @media (min-width: 40.0625em) {
              padding-bottom: 32px;
          }
        }

      }
      
      .nhsBSA-sidebar-nav {
        width: 300px;
        order: -1;
        background-color: $color_nhsuk-grey-4;
        margin: 0;

        .nhsuk-back-link {
          padding: 16px;
          margin: 0;
          @media (min-width: 48.0525em) {
            padding: 32px;
            margin: 0;
          }
        }
      }
      
  
    }

    
    @media (max-width: 48.0525em) {
      .nhsBSA-sidebar-wrapper {
         flex-direction: column;
        
        .nhsBSA-sidebar-nav {
          width: 100%;
        }
      }
    }
    
  }

  // side nav



.side-nav {

h3 {
  padding: 16px;
  margin: 0;
  @media (min-width: 48.0525em) {
  padding: 32px;
  }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
li {
  margin: 0px;
}

li a {
  display: block;
  color: #005EB8;
  font-size: 18px;
  text-decoration: none;
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  padding: 16px;
  @media (min-width: 48.0525em) {
  padding: 16px 32px;
  }
}

li a.active {
  background-color:#005EB8;
  color: white;
  font-weight: 600;
  border-top: #005EB8 1px solid;
  border-bottom: #005EB8 1px solid;
}

li a:hover:not(.active) {
  background-color: #005EB8;
  color: white;
}

.action-buttons {
  padding: 16px;
  @media (min-width: 48.0525em) {
    padding: 32px;
    }
}

}

@media (min-width: 40.0625em) {
.nhsuk-summary-list {
table-layout: auto;
}
}


.nhsBSA-align-right {
text-align: left;
@media (min-width: 48.0525em) {
  text-align: right;
}
}

.nhsBSA-breadcrumb {
border-bottom: #ccc 1px solid;
}

.nhsuk-button-red {
  background-color: $color_nhsuk-red;
  box-shadow: 0 4px 0 shade($color_nhsuk-red, 40%);
&:hover {
  background-color: shade($color_nhsuk-red, 20%);
}
&:active {
  background: shade($color_nhsuk-red, 20%);
  box-shadow: none;
  color: #ffffff !important;
  top: 4px;
}
}

.nhsuk-button--secondary {

&:active {

color: #ffffff !important;
}
}


.side-nav {


  li h3 {
    display: block;
    color: #005EB8;
    padding: 8px 16px;
    text-decoration: none;
  }

}
/* ==========================================================================
   #PRIMARY NAVIGATION
   ========================================================================== */

   .moj-primary-navigation {
    background-color: white;
  }
  
  .moj-primary-navigation__container {
    text-align: justify; // Trick to remove the need for floats
  margin:0 30px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  
  }
  
  .moj-primary-navigation__nav {
    text-align: left;
      display: inline-block;
      vertical-align: middle;
    }
  
  .moj-primary-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .moj-primary-navigation__item {
    @include nhsuk-font($size: 19);
    display: inline-block;
    margin-right: nhsuk-spacing(4);
    margin-top: 0;
  
    &:last-child {
      margin-right: 0;
    }
  
  }
  
  .moj-primary-navigation__link {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
    font-weight: bold;
  
    &:link,
    &:visited {
      color:  	#005eb8 ;
    }
  
    &:focus {
      color:black; // Focus colour on yellow should really be black.
      position: relative; // Ensure focus sits above everything else.
      z-index: 1;
      box-shadow: none;
    }
  
    &[aria-current] {
      color: 	#005eb8 ;
      position: relative;
      text-decoration: none;
      font-weight: bold;
      &:before {
        background-color: 	#005eb8 ;
        content: "";
        display: block;
        height: 5px;
        position: absolute; bottom: 0; left: 0;
        width: 100%;
      }
  
      &:focus {
        color: black; // Focus colour on yellow should really be black.
        position: relative; // Ensure focus sits above everything else.
        border: none;
  
        &:before {
          background-color: black;
        }
  
      }
  
    }
  
  }
  
  .moj-primary-navigation__search {

      display: inline-block;
      vertical-align: middle;
    }
  
    .moj-search {
      font-size: 0; // Fallback
    }
    
    .moj-search form {
      align-items: flex-end;
      display: flex;
    }
    
    .moj-search .govuk-form-group {
      display: inline-block;
      flex: 1;
      margin-bottom: 0;
      vertical-align: top;
    }
    
    .moj-search__label,
    .moj-search__hint {
      text-align: left;
    }
    
    .moj-search__input:focus {
      position: relative;
      z-index: 1;
    }
    
    .moj-search__button {
      display: inline-block;
      margin-bottom: 0;
      margin-left:nhsuk-spacing(2);
      position: relative;
      top: -2px; // Override default gov properties due to active pixel movement
      vertical-align: bottom;
      width: auto;
    }
    
    .moj-search--inline {
      padding: nhsuk-spacing(2) 0 !important;
    }

    .hmcts-page-heading {

      margin-bottom: nhsuk-spacing(7);
      min-height: nhsuk-spacing(7); // Match button height
      text-align: justify; // Trick to remove the need for floats
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    
    }
    
    
    .hmcts-page-heading__title {
    
      [class^=govuk-heading-] {
        margin-bottom: nhsuk-spacing(2);
        text-align: left;

      }
    
    }
    
    
    .hmcts-page-heading__actions {
    
        display: inline-block;
        vertical-align: middle;
      }
    
    
    .hmcts-page-heading__action {
    
      &:last-child {
        margin-bottom: 0;
      }
  
    
    }
    /* ==========================================================================
   #MENU
   ========================================================================== */

.hmcts-menu {
  display: inline-block;
  position: relative;
}

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  white-space: nowrap;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0; }

[aria-sort] button:focus,
[aria-sort] button:hover:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  white-space: nowrap; }

[aria-sort]:first-child button {
  right: auto; }

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em; }

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em; }

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none; }

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px; }

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px; }

  nav.patient-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    nav.patient-info ul {
      display: flex;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      list-style-type: none;
      justify-content: space-between; }
    nav.patient-info li {
      padding: 8px;
      margin-bottom: 0;
      margin-right: 32px;
      font-size: 16px; }
    nav.patient-info ul li:first-child {
      background-color: #425563;
      color: #f0f4f5; }
    nav.patient-info a {
      padding: 0; }