// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/notification-panel';
@import 'components/progress-bar';
@import 'components/tab-panels';
@import 'components/main-template';
@import 'components/pagination';
@import 'components/cases-expander-test';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////


// class to disable side nav links during testing sessions, just add to relevant <li>

.nav-inactive a {
    pointer-events: none; 
    cursor: default; 
    text-decoration: none; 
    color: 	#768692!important; 
}

.inactive {
    pointer-events: none!important; 
    cursor: default!important; 
    text-decoration: none; 
    color: 	#768692!important; 
}

.nav-active {
    background-color: #005EB8;
    font-weight: 600;
}

.nav-active a {
    color: white!important;
}

// Expander Tweaks

.nhsuk-details__summary:before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
}

.nhsuk-details__above--third {
    width: 33%;
    display: inline-block;
    .case-type-center {
        text-align: center;
    }
    p {
        margin-bottom: 0px;
        &.case-stage-title {
            margin-bottom: 32px;
        }
        &.status-title {
            margin-bottom: 32px;
            text-align: center;
        }
        &.edit-title {
            margin-bottom: 32px;
            text-align: right;
        }
    }
}

.nhsuk-details__summary-text--third {
    width: calc(33.33% - 20px);
    display: inline-block;
    .case-type-center {
        text-align: center;
    }
    p {
        margin-bottom: 0px;
    }
    a {
        line-height: 15px;
        float: right;
        margin-bottom: 0px;
    }
}

.nhsuk-details__summary-text-center {
    text-align: center;
}

.nhsuk-details {
    background-color: #ffffff;
    border-top: 4px solid transparent;
    display: inline-block;
    padding: 20px 24px 24px;
    width: 100%;
}

.nhsuk-expander-group {
    width: 100%;
    display: block;
}

.table-text-small {
    font-size: 14px;
    color: grey;
}

.nhsuk-table__button--incomplete {
    color: #ffb81C !important;
    border: 2px solid #ffb81C;
}

.nhsuk-table__button--incomplete:hover {
    color: white!important;
    background-color: #ffb81C;
}

.nhsuk-table__button--not-started {
    color: 	#768692!important;
    border: 2px solid #768692;
}

.nhsuk-table__button--not-started:hover {
    color: white!important;
    background-color: 	#768692;
}