// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/notification-panel';
@import 'components/progress-bar';
@import 'components/tab-panels';
@import 'components/main-template';
@import 'components/pagination';
@import 'components/cases-expander-test';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////


// class to disable side nav links during testing sessions, just add to relevant <li>

.nav-inactive a {
    pointer-events: none; 
    cursor: default; 
    text-decoration: none; 
    color: 	#768692!important; 
}

.nav-active {
    background-color: #005EB8;
    font-weight: 600;
}

.nav-active a {
    color: white!important;
}

// Expander Tweaks

.nhsuk-details__summary-text--third {
    width: calc(33.33% - 20px);
    display: inline-block;
    .case-type-center {
        text-align: center;
    }
    p {
        margin-bottom: 0px;
    }
    a {
        line-height: 15px;
        float: right;
        margin-bottom: 0px;
    }
}

.nhsuk-details__summary-text-center {
    text-align: center;
}