<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  {% extends 'main-template-sidebar-bc-task-lookup.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /main-template-sidebar-bc-task-lookup.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container">
        <script>

// hide postocode look up

  function hidefinder() {
  var x = document.getElementById("postcode-finder");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

// show postcode look up

 function showfinder() {
   var x = document.getElementById("postcode-finder");
   if (x.style.display === "none") {
     x.style.display = "block";
   } else {
     x.style.display = "block";
   }
 }

// show select address section

function showselect() {
var x = document.getElementById("select-address");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "block";
}
}

// hide select address section

function hideselect() {
var x = document.getElementById("select-address");
if (x.style.display === "block") {
  x.style.display = "none";
} else {
  x.style.display = "none";
}
}


// shows manual address entry section

function showmanual() {
var x = document.getElementById("manual-address");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "block";
}
}

// hide manual address entry section

function hidemanual() {
var x = document.getElementById("manual-address");
if (x.style.display === "block") {
  x.style.display = "none";
} else {
  x.style.display = "none";
}
}

</script>



          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <h1>Additional details</h1>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label"
                   for="known-as">Known as <span class="optional-span">(optional)</span></label> <input class="nhsuk-input nhsuk-u-width-one-half"
                   id="known-as"
                   name="known-as"
                   type="text">
            </div>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label"
                   for="hospital-number">Hospital number <span class="optional-span">(optional)</span></label> <input class="nhsuk-input nhsuk-u-width-one-half"
                   id="hospital-number"
                   name="hospital-number"
                   type="text">
            </div>
            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset">
                <p class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend">Sex <span class="optional-span">(optional)</span></legend></p>
                <div class="nhsuk-radios nhsuk-radios--conditional">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input"
                         id="gender-female"
                         name="gender"
                         type="radio"
                         value="female"> <label class="nhsuk-label nhsuk-radios__label"
                         for="gender-female">Female</label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input"
                         id="gender-male"
                         name="gender"
                         type="radio"
                         value="male"> <label class="nhsuk-label nhsuk-radios__label"
                         for="gender-male">Male</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="nhsuk-form-group">
              <fieldset aria-describedby="dob-hint"
                        class="nhsuk-fieldset"
                        role="group">
                <p class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend">Date of death <span class="optional-span">(optional)</span></legend></p><span class="nhsuk-hint"
                          id="dob-hint">For example, 15 3 2021</span>
                <div class="nhsuk-date-input"
                     id="dob">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-day">Day</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="dob-day"
                           name="dob-day"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-month">Month</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="dob-month"
                           name="dob-month"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-year">Year</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                           id="dob-year"
                           name="dob-year"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="nhsuk-form-group">
              <fieldset aria-describedby="dob-hint"
                        class="nhsuk-fieldset"
                        role="group">
                <p class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend">Time of death <span class="optional-span">(optional)</span></legend></p><span class="nhsuk-hint"
                          id="dob-hint">Use 24 hour format. For example, 16 03</span>
                <div class="nhsuk-date-input"
                     id="dob">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-day">Hour</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="dob-day"
                           name="dob-day"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-month">Minutes</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="dob-month"
                           name="dob-month"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset">
                <p class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend">Request for rapid release? <span class="optional-span">(optional)</span></legend></p>
                <div class="nhsuk-radios nhsuk-radios--conditional">
                  <div class="nhsuk-radios nhsuk-radios--conditional">
                    <div class="nhsuk-radios__item">
                      <input aria-controls="rapid-yes"
                           aria-expanded="false"
                           class="nhsuk-radios__input"
                           id="rapid-release-yes"
                           name="rapid-release"
                           type="radio"
                           value="yes"> <label class="nhsuk-label nhsuk-radios__label"
                           for="apid-release-yes">Yes</label>
                    </div>
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"
                         id="rapid-yes">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label"
                             for="email">Enter the reason why</label> <input class="nhsuk-input nhsuk-u-width-one-third"
                             id="email"
                             name="email"
                             type="text">
                      </div>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input"
                           id="apid-release-no"
                           name="rapid-release"
                           type="radio"
                           value="no"> <label class="nhsuk-label nhsuk-radios__label"
                           for="apid-release-no">No</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
<!-- Postcode look up view -->
                                               <div id="postcode-finder">
                                                  <div class="form-group">
                                                     <fieldset aria-label="Patient address">
                                                        <legend class="heading-small">Address</legend>
                                                        <div class="form-group">
                                                           <label class="form-label" for="pharmacy-postcode-lookup">
                                                           <br>Postcode
                                                           </label>
                                                           <input class="form-control form-control-1-4" name="pharmacy_postcode_lookup" id="pharmacy-postcode-lookup" type="text">
                                                        </div>
                                                        <p class="button" style="background-color: #005EA5" onclick="hidefinder(); showselect(); ">Find address</p>
                                                     </fieldset>
                                                  </div>
                                               </div>

                                               <!-- Select an address view -->
                                               <div id="select-address">
                                                  <div class="form-group">
                                                     <fieldset aria-label="Pharmacy address">
                                                        <legend class="heading-small">Address</legend>
                                                        <div class="form-group">
                                                           <label class="form-label" for="pharmacy-postcode">
                                                           <span class="heading-small"><br>Postcode</span>
                                                           </label>
                                                           <p>NE12 8BD   <a href="javascript: showfinder(); hideselect();">Change</a></p>
                                                        </div>
                                                        <p class="heading-small">Select an address</p>
                                                        <div class="form-group">
                                                           <select class="form-control" id="select-box">
                                                              <option>34 Eastfield Road, Newcastle upon Tyne, NE12 8BD</option>
                                                              <option>35 Eastfield Road, Newcastle upon Tyne, NE12 8BD</option>
                                                              <option>36 Eastfield Road, Newcastle upon Tyne, NE12 8BD</option>
                                                           </select>
                                                        </div>
                                                        <a href="javascript: hideselect(); showmanual();">Address not listed</a>
                                                     </fieldset>
                                                  </div>
                                               </div>

                                               <!-- Manual address entry view -->
                                               <div id="manual-address">
                                                  <div class="form-group">
                                                     <fieldset aria-label="Pharmacy address">
                                                     <legend class="heading-small">Address</legend>
                                                     <div class="form-group">
                                                        <label class="form-label" for="pharmacy-line-one">
                                                        Building and street
                                                        </label>
                                                        <input class="form-control" id="lineone" name="pharmacy_line_one" type="text">
                                                        <input class="form-control" id="linetwo" name="pharmacy_line_two" type="text" style="margin-top: 10px">
                                                     </div>
                                                     <div class="form-group">
                                                        <label class="form-label" for="pharmacy_town">
                                                        Town or city
                                                        </label>
                                                        <input class="form-control" id="pharmacy-town" name="pharmacy_town" type="text">
                                                     </div>
                                                     <div class="form-group">
                                                        <label class="form-label" for="pharmacy-postcode">
                                                        Postcode
                                                        </label>
                                                        <input class="form-control form-control-1-4" name="pharmacy_postcode" id="pharmacy-postcode" type="text">
                                                     </div>
                                                     <a href="javascript: hidemanual(); showfinder();">Find address for me</a>
                                                  </fieldset></div>
                                               </div>            <div class="nhsuk-form-group">
              <label class="nhsuk-label"
                   for="occupation">Main job <span class="optional-span">(optional)</span></label> <input class="nhsuk-input nhsuk-u-width-one-half"
                   id="occupation"
                   name="occupation"
                   type="text">
            </div>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label"
                   for="additional-info">Details about past jobs <span class="optional-span">(optional)</span></label> <span class="nhsuk-hint"
                   id="dob-hint">For example, if the person worked with harmful chemicals.</span> 
              <textarea class="nhsuk-textarea"
                   id="additional-info"
                   name="additional-info"
                   rows="5"></textarea>
            </div><a class="nhsuk-button"
                 draggable="false"
                 href="case-overview-martin-lincoln2">Save and continue</a>
            <div class="nhsuk-u-width-one-half">
              <a href="javascript:history.back()">Return to previous page without saving</a>
            </div>
          </div>
        </div>
      </div><!--<div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption==bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS No. 123 456 7890</span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a class="active"
                      href="Case-overview-martin-lincoln">Case details</a>
                </li>
                <li>
                  <a href="Case-history-martin-lincoln">Case history</a>
                </li>
                <li>
                  <a href="scrutiny-martin-lincoln">Case Scrutiny</a>
                </li>
                <li>
                  <a href="coroner-notification-martin-lincoln">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>-->
    </div>
  </div>{% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %} {% endblock %}
</body>
</html>
