<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-scrutiny.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Case overview {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-u-margin-bottom-4"><span role="text">Martin Lincoln</span></h1>
              </div>
            </div>
            <div class="nhsuk-grid-column-full">
              <h2 class="nhsuk-heading-l"><span role="text">Pre-scrutiny notes</span></h2>
              <table>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Added by</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Jenny Smith</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Details</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Brought in to A&amp;E by ambulance following a call to 999 by wife.<br>
                    Was receiving palliative care at home following a recent diagnosis of pancreatic cancer.<br>
                    Was seen in A&amp;E and later admitted to ward C.<br>
                    Over the next 24hrs, condition deteriorated and they continued to receive palliative care in the hospital with consent from family.<br>
                    Passed peacefully in their sleep at 4pm on 27/09/21.<br>
                    No immediate concerns noted</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <a class="nhsuk-link"
                          href="create-case-quick">Change</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">AP' proposed cause of death</span></h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">
                      <a class="nhsuk-link"
                          href="QAP-proposed">AP's proposed cause of death</a>
                    </td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <a href="#"><strong class="nhsuk-tag nhsuk-tag--grey">Not started</strong></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">Discussion with AP</span></h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">
                      <a class="nhsuk-link"
                          href="discussion-QAP">Discussion with attending practitioner (AP)</a>
                    </td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <a href="#"><strong class="nhsuk-tag nhsuk-tag--grey">Not started</strong></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="nhsuk-body">The following sections can only be completed by the medical examiner.</p>
              <h2 class="nhsuk-heading-l"><span role="text">Medical examiner's independent review</span></h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">
                      <a class="nhsuk-link"
                          href="#"
                          style="text-decoration: none; color: #212b32;">ME Scrutiny</a>
                    </td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;"></td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS number 997 536 0025</span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a href="case-overview-martin-lincoln">Case details</a>
                </li>
                <li>
                  <a href="case-history-martin-lincoln">Case history</a>
                </li>
                <li>
                  <a class="active"
                      href="case-scrutiny-martin-lincoln">Case Scrutiny</a>
                </li>
                <li>
                  <a href="coroner-notification-martin-lincoln">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul><!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button==secondary" type="submit">Add note</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>{% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %} {% endblock %}
</body>
</html>
