<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	All cases
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block userName %}
	ME Username
{% endblock %}

{% block jobRole %}Medical Examiner{% endblock %}

{% block gmcNumber %}
<p class="nhsuk-u-margin-bottom-1">
	GMC Number: 12345679
</p>
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">
			<h1>
				All cases
			</h1>

			<p>
				All of the cases listed below are awaiting action. Please click into a case to see in the case overview what is left to be completed on the case.
				Cases shown are relevant for your Medical Examiner's. If you work across two or more offices, the office responsible for the case has also been
				listed as part of the table.
			</p>

			<div class="nhsuk-table-responsive">
				<table class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">
					<caption class="nhsuk-table__caption">Awaiting proposed COD</caption>
					<thead class="nhsuk-table__head">
						<tr class="nhsuk-table__row">
							<th class="nhsuk-table__header" scope="col">Name</th>
							<th class="nhsuk-table__header" scope="col">Date of birth</th>
							<th class="nhsuk-table__header" scope="col">Date of death</th>
							<th class="nhsuk-table__header" scope="col">NHS number</th>
							<th class="nhsuk-table__header" scope="col">Office responsible</th>
							<th class="nhsuk-table__header" scope="col">Case created</th>
							<th class="nhsuk-table__header" scope="col">Case type</th>
						</tr>
					</thead>
					<tbody class="nhsuk-table__body">
						<tr class="nhsuk-table__row">
							<td class="nhsuk-table__cell"><a href="case-overview">Test Six</a></td>
							<td class="nhsuk-table__cell">01/01/1980</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td class="nhsuk-table__cell">1234567890</td>
							<td class="nhsuk-table__cell">Preston</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td><span class="nhsuk-tag nhsuk-tag--green">Routine</span></td>
						</tr>
						<tr class="nhsuk-table__row">
							<td class="nhsuk-table__cell"><a href="case-overview">Test Seven</a></td>
							<td class="nhsuk-table__cell">01/01/1980</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td class="nhsuk-table__cell">1234567890</td>
							<td class="nhsuk-table__cell">Wigan</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td><span class="nhsuk-tag nhsuk-tag--red">Urgent</span></td>
						</tr>
						<tr class="nhsuk-table__row">
							<td class="nhsuk-table__cell"><a href="case-overview">Test Eight</a></td>
							<td class="nhsuk-table__cell">01/01/1980</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td class="nhsuk-table__cell">1234567890</td>
							<td class="nhsuk-table__cell">Preston</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td><span class="nhsuk-tag nhsuk-tag--yellow">Priority</span></td>
						</tr>
						<tr class="nhsuk-table__row">
							<td class="nhsuk-table__cell"><a href="case-overview">Test Nine</a></td>
							<td class="nhsuk-table__cell">01/01/1980</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td class="nhsuk-table__cell">1234567890</td>
							<td class="nhsuk-table__cell">Preston</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td><span class="nhsuk-tag nhsuk-tag--green">Routine</span></td>
						</tr>
						<tr class="nhsuk-table__row">
							<td class="nhsuk-table__cell"><a href="case-overview">Test Ten</a></td>
							<td class="nhsuk-table__cell">01/01/1980</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td class="nhsuk-table__cell">1234567890</td>
							<td class="nhsuk-table__cell">Blackburn</td>
							<td class="nhsuk-table__cell">01/01/2020</td>
							<td><span class="nhsuk-tag nhsuk-tag--green">Routine</span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<nav class="nhsbsa-pagination" id="pagination-label">

				<p class="nhsuk-u-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
			  
				<ul class="nhsbsa-pagination__list">
					<li class="nhsbsa-pagination__item  nhsbsa-pagination__item--prev">
						<a class="nhsbsa-pagination__link" href="all-cases">Previous<span class="nhsuk-u-visually-hidden"> set of pages</span></a>
					</li>
					<li class="nhsbsa-pagination__item"><a class="nhsbsa-pagination__link" href="all-cases">1</a></li>
                    
					<li class="nhsbsa-pagination__item nhsbsa-pagination__item--active">2</li>
					
					<li class="nhsbsa-pagination__item"><a class="nhsbsa-pagination__link" href="all-cases-3">3</a></li>
					
					<li class="nhsbsa-pagination__item  nhsbsa-pagination__item--next">
						<a class="nhsbsa-pagination__link" href="all-cases-3">Next<span class="nhsuk-u-visually-hidden"> set of pages</span></a>
					</li>
				  </ul>
				  <p class="nhsbsa-pagination__results">Showing <b>6</b> to <b>10</b> of <b>15</b> results</p>
			</nav>
		</div>
	</div>
{% endblock %}

