<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Case overview
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block userName %}
	ME Username
{% endblock %}

{% block jobRole %}Medical Examiner{% endblock %}

{% block gmcNumber %}
<p class="nhsuk-u-margin-bottom-1">
	GMC Number: 12345679
</p>
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">
			<h1>
				Case overview
            </h1>
            
            <p class="nhsuk-u-margin-bottom-8">
				From here you will be able to view and access all aspects of a case. Some areas of the case will be restricted depending on your job role.
				However, these areas will be read only once inputted by the relevant user. You can see what status a section of the case is at, and all
				information entered is audited. There is no particular order in which a case must be completed, however all sections must be complete to
				process to an MCCD or close the case.
			</p>
			<div>
			<div class="nhsuk-details__summary-text--third">
				<p class="nhsuk-heading-s case-stage-title">
					Case stage
				</p>
			</div>
			<div class="nhsuk-details__summary-text--third">
				<p class="nhsuk-heading-s status-title">
					Status
				</p>
			</div>
			<div class="nhsuk-details__summary-text--third">
				<p class="nhsuk-heading-s edit-title">
					Edit/Audit
				</p>
			</div>
			</div>
			
			<div class="nhsuk-expander-group">
				<details class="nhsuk-details nhsuk-expander">
					<summary class="nhsuk-details__summary">
						<span class="nhsuk-details__summary-text nhsuk-details__summary-text--third">
							Patient details
						</span>

						<div class="nhsuk-details__summary-text--third">
							<div class="case-type-center">
								<p class="nhsuk-table__button nhsuk-table__button--complete">
									Complete
								</p>
							</div>
						</div>

						<div class="nhsuk-details__summary-text--third">
							<a href="patient-details">
								Edit patient details
							</a>
						</div>
					</summary>
					<div class="nhsuk-details__text">
						<p>Content here.</p>
					</div>
				</details>

				<details class="nhsuk-details nhsuk-expander">
					<summary class="nhsuk-details__summary">
						<span class="nhsuk-details__summary-text nhsuk-details__summary-text--third">
							Details of the death
						</span>

						<div class="nhsuk-details__summary-text--third">
							<div class="case-type-center">
								<p class="nhsuk-table__button nhsuk-table__button--incomplete">
									Incomplete
								</p>
							</div>
						</div>

						<div class="nhsuk-details__summary-text--third">
							<a href="patient-details">
								Add details of the death
							</a>
						</div>
					</summary>
					<div class="nhsuk-details__text">
						<p>Content here.</p>
					</div>
				</details>
			  

			</div>

		</div>
	</div>
{% endblock %}