<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Case overview
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block userName %}
	ME Username
{% endblock %}

{% block jobRole %}Medical Examiner{% endblock %}

{% block gmcNumber %}
<p class="nhsuk-u-margin-bottom-1">
	GMC Number: 12345679
</p>
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">
			<h1>
				Case overview
            </h1>
            
            <p>
				From here you will be able to view and access all aspects of a case. Some areas of the case will be restricted depending on your job role.
				However, these areas will be read only once inputted by the relevant user. You can see what status a section of the case is at, and all
				information entered is audited. There is no particular order in which a case must be completed, however all sections must be complete to
				process to an MCCD or close the case.
            </p>
		</div>
	</div>
{% endblock %}

{% block sideNav %}
	<li>							
		<a href="create-case">
			Create a new case
		</a>
	</li>

	<li>							
		<a href="all-cases" class="active"> 
			All cases
		</a>
	</li>

	<li class="nav-inactive">							
		<a href="urgent-priority-cases">
			Urgent and priority cases
		</a>
	</li>

	<li class="nav-inactive">								
		<a href="cases-awaiting-feedback">
			Cases awaiting coroner feedback
		</a>
	</li>

	<li class="nav-inactive">	
		<a href="closed-cases">
			Closed cases
		</a>
	</li>

	<li>							
		<a href="/">
			Log out
		</a>
	</li>
{% endblock %}