

{% extends 'template.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Medical Examiner Office - Manage my caseload</h1>
      <div class="nhsuk-form-group nhsuk-u-padding-bottom-5">
        <p class="nhsuk-body">Use this service to record:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>details of a death</li>
          <li>communication on the case</li>
          <li>the outcome of the medical record review</li>
          <li>information on the proposed cause of death</li>
          <li>the conversation with the bereaved about the cause or circumstances of death, or concerns about care</li>
        </ul>
        

            <div class="govuk-warning-text nhsuk-form-group nhsuk-u-padding-bottom-5">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <span class="govuk-warning-text__text">
                  <span class="visually-hidden">  </span>
                  You'll need to register to use this service.
                </span>
              </div>
        

              <div class="nhsuk-form-group">
                  <p>
                    <a class="nhsuk-button start-button" href="/me-journey/login-page">Start</a>
                  </p>
                </div>

               
      </div>

  

    <!--  <div class="govuk-warning-text nhsuk-form-group nhsuk-u-padding-bottom-5">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <span class="govuk-warning-text__text">
          <span class="visually-hidden">  </span>
          You'll need to register to use this service.
        </span>
      </div>-->

       

      
    
    <!--  <details class="nhsuk-details landing-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I do not have an account
          </span>
        </summary>
          <div class="nhsuk-details__text">
          </div>
      </details> -->
    </div>
  </div>
{% endblock %}