<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar-no-login.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Medical Examiners - Home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-width-container-fluid">
  <main class="nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {% from 'fieldset/macro.njk' import fieldset %}
{% from "input/macro.njk" import input %}

<div class="nhsuk-grid-column-two-thirds">

  <h1 class="nhsuk-heading-l page-title">Sign in</h1>

  <p class="nhsuk-body">If you do not have an account, you can <a href="/create-service/register" class="register-link nhsuk-link">create one now</a>.</p>

  <form action="/login" method="post" name="userLoginForm" data-validate="">
    <input id="csrf" name="csrfToken" type="hidden" value="VhScXKYF-zVsqVF2dkBdaDYE6BwZMnASjufY">


    <div class="nhsuk-form-group">
  <label class="nhsuk-label nhsuk-!-width-two-thirds" for="username">
    Email address
  </label>
  <input class="nhsuk-input nhsuk-!-width-two-thirds" id="username" name="username" type="email" data-validate="required">
</div>

    <div class="nhsuk-form-group">
  <label class="nhsuk-label nhsuk-!-width-two-thirds" for="password">
    Password
  </label>
  <input class="nhsuk-input nhsuk-!-width-two-thirds" id="password" name="password" type="password" data-validate="required" autocomplete="current-password">
</div>

{{ button({
  "text": "Sign in",
  "href": "me-journey/open-cases"
}) }}

  </form>
  <p class="nhsuk-body">
    <a href="/reset-password" class="reset-password nhsuk-link clear">Forgot your password?</a>
  </p>
</div>
  </div>
</div>
  </main>
</div>

{% endblock %}