<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Open cases
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">
            <div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-two-thirds">
					<h1 class="nhsuk-heading-xl">
						Open cases
					</h1>
					<button class="nhsuk-button nhsuk-button--secondary toggle-checkbox" onclick="toggleCheckbox()">
						Reset table order    
					  </button>
					  <div class="checkbox-list" id="checkbox-toggle">
						<div class="nhsuk-checkboxes">

							<div class="nhsuk-checkboxes__item">
							  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
							  <label class="nhsuk-label nhsuk-checkboxes__label toggle-label" for="example-1">
								Name
							  </label>
							</div>
							<div class="nhsuk-checkboxes__item">
								<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
								<label class="nhsuk-label nhsuk-checkboxes__label toggle-label" for="example-1">
								  Date of birth
								</label>
							  </div>
							  <div class="nhsuk-checkboxes__item">
								<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
								<label class="nhsuk-label nhsuk-checkboxes__label toggle-label" for="example-1">
								  Date of death
								</label>
							  </div>
							  <div class="nhsuk-checkboxes__item">
								<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
								<label class="nhsuk-label nhsuk-checkboxes__label toggle-label"  for="example-1">
								  NHS number
								</label>
							  </div>
							  <div class="nhsuk-checkboxes__item">
								<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
								<label class="nhsuk-label nhsuk-checkboxes__label toggle-label" for="example-1">
								  Hospital number
								</label>
							  </div>
							  <div class="nhsuk-checkboxes__item">
								<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
								<label class="nhsuk-label nhsuk-checkboxes__label toggle-label" for="example-1">
								  Case created
								</label>
							  </div>
							  <div class="nhsuk-checkboxes__item">
								<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
								<label class="nhsuk-label nhsuk-checkboxes__label toggle-label" for="example-1">
								  Status
								</label>
							  </div>
						  </div>
					</div>
				</div>
				
				<div class="nhsuk-grid-column-one-third">
					<a href="create-case" class="nhsuk-button" style="float:right">
					Create new case
					</a>
				</div>
			</div>

			<hr style="border-bottom:4px solid #005eb8; margin:0">
			<div id="table-scroll" class="table-scroll">
				<div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
					<table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">
						<thead class="nhsuk-table__head">
							<tr class="nhsuk-table__row">
								<th class="nhsuk-table__header" aria-sort="none" scope="col">
									<button type="button" data-index="0">Name</button>
								</th>
								<th class="nhsuk-table__header" aria-sort="none" scope="col">
									<button onclick="sortTable()" type="button" data-index="0">Date of birth</button>
								</th>
								<th class="nhsuk-table__header" aria-sort="none" scope="col">
									<button onclick="sortTable()" type="button" data-index="0">Date of death</button>
								</th>
								<th class="nhsuk-table__header" aria-sort="none" scope="col">
									<button onclick="sortTable()" type="button" data-index="0">NHS number</button>
								</th>
								<th class="nhsuk-table__header" aria-sort="none" scope="col">
									<button onclick="sortTable()" type="button" data-index="0">Hospital number</button>
								</th>
								<th class="nhsuk-table__header fixed-side" aria-sort="none" scope="col">
									<button onclick="sortTable()" type="button" data-index="0">Case created</button>
								</th>
								<th class="nhsuk-table__header fixed-side" aria-sort="none" scope="col">
									<button onclick="sortTable()" type="button" data-index="0">Status</button>
								</th>
							</tr>
						</thead>

						<tbody class="nhsuk-table__body">
							<tr class="nhsuk-table__row">
								<td class="nhsuk-table__cell"><a href="case-overview">Martin Lincoln</a></td>
								<td class="nhsuk-table__cell">02/11/1935</td>
								<td class="nhsuk-table__cell">28/08/2020</td>
								<td class="nhsuk-table__cell">9975360025</td>
								<td class="nhsuk-table__cell">66543</td>
								<td class="nhsuk-table__cell">28/09/2020</td>
								<td><span class="nhsuk-tag nhsuk-tag--red case-tag">Urgent</span></td>
							</tr>
							<tr class="nhsuk-table__row">
								<td class="nhsuk-table__cell"><a href="case-overview">Test Two</a></td>
								<td class="nhsuk-table__cell">01/01/1980</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td class="nhsuk-table__cell">1234567890</td>
								<td class="nhsuk-table__cell">62155</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td><span class="nhsuk-tag nhsuk-tag--yellow case-tag">Overdue</span></td>
							</tr>
							<tr class="nhsuk-table__row">
								<td class="nhsuk-table__cell"><a href="case-overview">Test Three</a></td>
								<td class="nhsuk-table__cell">01/01/1980</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td class="nhsuk-table__cell">1234567890</td>
								<td class="nhsuk-table__cell">62155</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td><span class="nhsuk-tag nhsuk-tag--green case-tag">Due today</span></td>
							</tr>
							<tr class="nhsuk-table__row">
								<td class="nhsuk-table__cell"><a href="case-overview">Test Four</a></td>
								<td class="nhsuk-table__cell">01/01/1980</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td class="nhsuk-table__cell">1234567890</td>
								<td class="nhsuk-table__cell">42897</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td><span class="nhsuk-tag nhsuk-tag--blue case-tag">Routine</span></td>
							</tr>
							<tr class="nhsuk-table__row">
								<td class="nhsuk-table__cell"><a href="case-overview">Test Five</a></td>
								<td class="nhsuk-table__cell">01/01/1980</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td class="nhsuk-table__cell">1234567890</td>
								<td class="nhsuk-table__cell">62155</td>
								<td class="nhsuk-table__cell">01/01/2020</td>
								<td><span class="nhsuk-tag nhsuk-tag--blue case-tag">Routine</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<nav class="nhsbsa-pagination" id="pagination-label">

				<p class="nhsuk-u-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
			  
				<ul class="nhsbsa-pagination__list">
					<!-- <li class="nhsbsa-pagination__item  nhsbsa-pagination__item--prev">
						<a class="nhsbsa-pagination__link" href="">Previous<span class="nhsuk-u-visually-hidden"> set of pages</span></a>
					</li> -->
					<li class="nhsbsa-pagination__item nhsbsa-pagination__item--active">1</li>
				
					<li class="nhsbsa-pagination__item"><a class="nhsbsa-pagination__link" href="open-cases-2">2</a></li>
					
					<li class="nhsbsa-pagination__item"><a class="nhsbsa-pagination__link" href="open-cases-3">3</a></li>
					
					<li class="nhsbsa-pagination__item  nhsbsa-pagination__item--next">
						<a class="nhsbsa-pagination__link" href="open-cases-2">Next<span class="nhsuk-u-visually-hidden"> set of pages</span></a>
					</li>
				  </ul>
				  <p class="nhsbsa-pagination__results">Showing <b>1</b> to <b>5</b> of <b>15</b> results</p>
			</nav>
		</div>
	</div>
{% endblock %}

