<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Case overview
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
 

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">

			<nav class="nhsuk-red-background patient-info">
				<ul role="navigation">
				  <li><span><strong>Case type: </strong> Urgent</span></li>
				  <li><span><strong> Forename(s): </strong> Martin</span></li>
				  <li><span><strong>Surname: </strong> Lincoln</span></li>
				  <li><span><strong>Date of birth: </strong> 02/11/1935</span></li>
				  <li><span><strong>NHS Number: </strong> 9975360025</span></li>
				</ul>
			  </nav>

			<h1>
                <span class="nhsuk-caption-m nhsuk-caption--bottom ">
                    Add a note
                    </span>
				Pre-scrutiny notes
            </h1>

            <div class="nhsuk-form-group nhsuk-u-width-two-thirds">
                <label class="nhsuk-label" for="example">
                  Enter the details for the medical examiner to review
                </label>

                <textarea class="nhsuk-textarea" id="example" name="example" rows="20" aria-describedby="example-hint"></textarea>
              </div>

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                  <legend class="nhsuk-fieldset__legend">
                    <p>
                      Early coroner referral (optional)
                    </p>
                  </legend>
              
                  <div class="nhsuk-hint" id="example-hint">
                    Checking this box will flag your reccomendation to other users
                  </div>
              
                  <div class="nhsuk-checkboxes">
              
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                        I want to flag this case for coroner referral
                      </label>
                    </div>
              
              
                  </div>
                </fieldset>
              
              </div>

        </div>

	<a class="nhsuk-button" href="pre-scrutiny-added" draggable="false">
		Save and continue
    </a>

	<div class="nhsuk-u-width-one-half">
		<a href="pre-scrutiny-notes">Return to previous page without saving</a>
	</div>
</div>
</div>
{% endblock %}