<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "up-case" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Urgent and priority
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
 

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">
			<h1>
				Urgent and priority
			</h1>
			<div class="nhsuk-urgent-intro">
				<div class="nhsuk-urgent-intro__button">
					<span class="nhsuk-table__button nhsuk-table__button--urgent">Urgent</span>
				</div>
				<div class="nhsuk-urgent-intro__text">
					<p>
						Urgent cases are all cases that have been requested for rapid release
					</p>
				</div>
			</div>

			<div class="nhsuk-urgent-intro">
				<div class="nhsuk-urgent-intro__button">
					<span class="nhsuk-table__button nhsuk-table__button--priority">Priority</span>
				</div>
				<div class="nhsuk-urgent-intro__text">
					<p>
						Priority cases are all routine cases that have reached a 3 day threshold since creation of the case.
						This is to try and ensure that all cases are registered before the 5 day target guideline.
					</p>
				</div>
			</div>

			<div class="tabs">
				<div role="tablist" aria-label="Entertainment">
					<button role="tab" aria-selected="true" aria-controls="urgent-cases" id="urgent">
						Urgent
					</button>
					<button role="tab" aria-selected="false" aria-controls="priority-cases" id="priority" tabindex="-1">
						Priority
					</button>
				</div>

				<div tabindex="0" role="tabpanel" id="urgent-cases" aria-labelledby="urgent">
					<div class="nhsuk-table-responsive">
						<table class="nhsuk-table">
							<caption class="nhsuk-table__caption">Urgent</caption>
							<thead class="nhsuk-table__head">
								<tr class="nhsuk-table__row">
									<th class="nhsuk-table__header" scope="col">Name</th>
									<th class="nhsuk-table__header" scope="col">Date of birth</th>
									<th class="nhsuk-table__header" scope="col">Date of death</th>
									<th class="nhsuk-table__header" scope="col">NHS number</th>
									<th class="nhsuk-table__header" scope="col">Case created</th>
									<th class="nhsuk-table__header" scope="col">Case type</th>
								</tr>
							</thead>
							<tbody class="nhsuk-table__body">
								<tr class="nhsuk-table__row">
									<td class="nhsuk-table__cell"><a href="case-overview">Test One</a></td>
									<td class="nhsuk-table__cell">01/01/1980</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell">1234567890</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell"><a href="#" class="nhsuk-table__button nhsuk-table__button--urgent">Urgent</a></td>
								</tr>
								<tr class="nhsuk-table__row">
									<td class="nhsuk-table__cell"><a href="case-overview">Test Two</a></td>
									<td class="nhsuk-table__cell">01/01/1980</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell">1234567890</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell"><a href="#" class="nhsuk-table__button nhsuk-table__button--urgent">Urgent</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div tabindex="0" role="tabpanel" id="priority-cases" aria-labelledby="priority" hidden="">
					<div class="nhsuk-table-responsive">
						<table class="nhsuk-table">
							<caption class="nhsuk-table__caption">Priority</caption>
							<thead class="nhsuk-table__head">
								<tr class="nhsuk-table__row">
									<th class="nhsuk-table__header" scope="col">Name</th>
									<th class="nhsuk-table__header" scope="col">Date of birth</th>
									<th class="nhsuk-table__header" scope="col">Date of death</th>
									<th class="nhsuk-table__header" scope="col">NHS number</th>
									<th class="nhsuk-table__header" scope="col">Case created</th>
									<th class="nhsuk-table__header" scope="col">Case type</th>
								</tr>
							</thead>
							<tbody class="nhsuk-table__body">
								<tr class="nhsuk-table__row">
									<td class="nhsuk-table__cell"><a href="case-overview">Test One</a></td>
									<td class="nhsuk-table__cell">01/01/1980</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell">1234567890</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell"><a href="#" class="nhsuk-table__button nhsuk-table__button--priority">Priority</a></td>
								</tr>
								<tr class="nhsuk-table__row">
									<td class="nhsuk-table__cell"><a href="case-overview">Test Two</a></td>
									<td class="nhsuk-table__cell">01/01/1980</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell">1234567890</td>
									<td class="nhsuk-table__cell">01/01/2020</td>
									<td class="nhsuk-table__cell"><a href="#" class="nhsuk-table__button nhsuk-table__button--priority">Priority</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

