<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-scrutiny.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Case overview {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                  <h1 class="nhsuk-heading-xl">Case scrutiny</h1>
                </div>
                <div class="nhsuk-grid-column-one-third">
                  <a class="nhsuk-button"
                       href="close-case3"
                       style="float:right">Close case</a>
                </div>
              </div>
              <h2 class="nhsuk-heading-l">Pre-scrutiny notes</h2>
              <table>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Added by</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Joe Bloggs</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Details</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Brought in to A&amp;E by ambulance following a call to 999 by wife.<br>
                    Was receiving palliative care at home following a recent diagnosis of pancreatic cancer.<br>
                    Was seen in A&amp;E and later admitted to ward C.<br>
                    Over the next 24hrs, condition deteriorated and they continued to receive palliative care in the hospital with consent from family.<br>
                    Passed peacefully in their sleep at 4pm on 27/09/21.<br>
                    No immediate concerns noted</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <!-- <a class="nhsuk-link"
                          href="pre-scrutiny-add-martin-lincoln">Change</a>-->
                    </td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">Amend cause of death</span></h2>
              <p>Medical examiner has reviewed and amended the cause of death</p>
              <table>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Added by</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Kevin Hill</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                        <a class="nhsuk-link"
                          href="QAP-proposed">Change</a>
                      </td>
                        
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Details</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Cause of death changed...</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <a class="nhsuk-link"
                          href="QAP-proposed">Change</a>
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Date amended</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">24/10/2021</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <a class="nhsuk-link"
                          href="QAP-proposed">Change</a>
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Reason for change</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">New concern raised</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <a class="nhsuk-link"
                          href="QAP-proposed">Change</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <h2 class="nhsuk-heading-l"><span role="text">Attending practitioner's proposed cause of death</span></h2>
              
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Attending practitioner (AP) who proposed cause of death</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Dr Andrew Nixon</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <!--- <a class="nhsuk-link"
                          href="QAP-proposed">Change</a>-->
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">AP has discussed cause of death with</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Consultant</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <!--<a class="nhsuk-link"
                          href="QAP-proposed">Change</a>-->
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Cause of death summary</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">86yrs, diagnosed with colon cancer 5 years ago. treated with chemotherapy.<br>
                    later advised the cancer had advanced too far&nbsp;for treatment to be effective.&nbsp;received palliative care whilst at home.<br>
                    August&nbsp;2020 Marty returned&nbsp;to hospital&nbsp;as his condition had worsened. passed away peacefully 28/08/2020.</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <!--<a class="nhsuk-link"
                          href="QAP-proposed">Change</a>-->
                    </td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">Discussion with AP​</span></h2>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">AP involved in discussion</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Dr Andrew Nixon</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <!--  <a class="nhsuk-link"
                          href="qap-proposed">Change</a>-->
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Date and time of discussion</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">30/08/2020<br>
                    13:10</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <!-- <a class="nhsuk-link"
                          href="qap-proposed">Change</a>-->
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Details of discussion</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">ME talked to AP regarding the CoD</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <!-- <a class="nhsuk-link"
                          href="qap-proposed2">Change</a>-->
                    </td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Outcome</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Cause of death accepted without change</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <!--  <a class="nhsuk-link"
                          href="qap-proposed2">Change</a>-->
                    </td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">Medical examiner's independent review</span></h2>
              <p class="nhsuk-body">This section can only be changed by a medical examiner.</p>
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Scrutinised info</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Full clinical record</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Circumstances of death</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Expected</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Cause of death summary</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">86yrs, diagnosed with colon cancer 5 years ago. treated with chemotherapy.<br>
                    later advised the cancer had advanced too far&nbsp;for treatment to be effective.&nbsp;received palliative care whilst at home.<br>
                    August&nbsp;2020 Marty returned&nbsp;to hospital&nbsp;as his condition had worsened. passed away peacefully 28/08/2020.</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS number 997 536 0025</span><span class="nhsuk-caption-m nhsuk-caption--bottom"><span class=
          "nhsuk-u-visually-hidden">-</span> <strong class="nhsuk-tag nhsuk-tag--orange">Reopened</strong></span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a href="case-overview-martin-lincoln4">Case details</a>
                </li>
                <li>
                  <a class="active"
                      href="case-scrutiny-martin-lincoln3">Case scrutiny</a>
                </li>
                <li>
                  <a href="case-history-martin-lincoln6">Case communication</a>
                </li>
                
                <li>
                  <a href="coroner-notification-martin-lincoln2">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul><!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button==secondary" type="submit">Add note</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>{% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %} {% endblock %}
</body>
</html>
