

<style>
#postcode-finder {
  display: block;
}
#select-address {
  display: none;
}
#manual-address {
  display: none;
}
  .ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 2px solid #6F777B;
    max-height: 350px;
    overflow-x: hidden;
  }
  .ui-autocomplete .ui-menu-item {
    border-top: 1px solid #BFC1C3;
    display: block;
    padding: 4px 6px;
    color: #0B0C0C;
    cursor: pointer;
  }
  .ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
  }
  .ui-autocomplete .ui-menu-item.ui-state-focus {
    font-weight: bold;
    background-color: #6F777B;
    color: #fff;
  }
  .ui-autocomplete {
    width: 100%;
  }
  @media (min-width: 641px) {
    .ui-autocomplete {
      width: 66.66%;
    }
  }
  .added-country .form-control {
    padding: 0.5em;
  }
  .typeahead,
  .tt-query,
  .tt-hint {
    font-size: 19px;
    font-weight: 300;
    text-transform: none;
    margin: 0;
    /* padding: 0.5em; */
  }
  .tt-hint {
    display: none;
  }
  .tt-dropdown-menu {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
  }
  .tt-suggestion {
    padding: 0.5em;
    font-size: 19px;
    line-height: 24px;
  }
  .tt-suggestion p {
    margin: 0;
  }
  .tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097CF;
  }
  .twitter-typeahead {
    width: 100%;
  }
  .validation-wrapper .optional-section .twitter-typeahead input {
    margin-bottom: 0;
  }
  .test-case {
    overflow: visible;
  }
  .visually-hidden,
  .visuallyhidden,
  .hidden-hint .screenreader-punctuation,
  .hidden-hint .form-hint {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  .added-country .form-control {
    padding: 0.5em;
  }
  .tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 65%;
    max-height: 220px;
    overflow-y: scroll;
  }
  .tt-suggestion {
    padding: 0.5em;
  }
  .tt-suggestion:hover,
  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097CF;
  }
  .tt-suggestion:hover {
    cursor: pointer;
  }
  .twitter-typeahead {
    width: 100%;
  }
  .test-case {
    overflow: visible;
  }
  dialog {
    position: absolute;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    display: none;
  }
  dialog[open] {
    display: block;
  }
  dialog+.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  /* for small devices, modal dialogs go full-screen */
  @media screen and (max-width: 540px) {
    dialog[_polyfill_modal] {
      /* TODO: implement */
      top: 0;
      width: auto;
      margin: 1em;
    }
  }
  ._dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  dialog {
    display: block;
    position: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  dialog h1 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.0416666667;
  }
  @media (min-width: 641px) {
    dialog h1 {
      font-size: 36px;
      line-height: 1.1111111111;
    }
  }
  dialog[open] {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    border: 5px solid black;
  }
  @media (min-width: 641px) {
    dialog[open] {
      padding: 30px;
      margin: 30px auto;
      max-width: 500px;
    }
  }
  dialog[open]+.backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
  dialog[open]::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
  .dialog-button {
    display: none;
  }
  .js-enabled .dialog-button {
    display: block;
  }
  .js-enabled dialog {
    display: none;
  }
  .js-enabled dialog[open] {
    display: block;
    position: absolute;
  }
  .dialog-is-open {
    overflow: hidden;
  }
  .disclosure-control {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #005EA5;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    text-decoration: underline;
    padding-left: 20px;
    position: relative;
  }
  @media (min-width: 641px) {
    .disclosure-control {
      font-size: 19px;
      line-height: 1.3157894737;
    }
  }
  .disclosure-control__icon {
    display: block;
    width: 12px;
    height: 12px;
    background: url("/public/images/disclosure/icon-closed.png") no-repeat;
    position: absolute;
    left: 0;
    top: 4px;
  }
  .disclosure-control[aria-expanded="true"] .disclosure-control__icon {
    background: url("/public/images/disclosure/icon-open.png") no-repeat;
  }
  .js-enabled div[aria-hidden="true"] {
    display: none;
  }
  .js-enabled div[aria-hidden="false"] {
    display: block;
  }
  .grid-row:after,
  #content:after,
  .notice:after,
  .panel:after,
  fieldset:after,
  .form-section:after,
  .form-group:after,
  .form-block:after,
  .breadcrumbs ol:after,
  .accordion-with-descriptions-01 .subsection-controls:after,
  .accordion-with-descriptions-02 .subsection-controls:after,
  .accordion-with-descriptions-03 .subsection-controls:after,
  .question:after,
  .question-first:after,
  div.test-case-overflow-allowed:after {
    content: "";
    display: block;
    clear: both;
  }
  .hint-underneath,
  .hint {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 5px 0;
    color: #6F777B;
    clear: both;
  }
  @media (min-width: 641px) {
    .hint-underneath,
    .hint {
      font-size: 19px;
      line-height: 1.3157894737;
    }
  }
</style>