.nhsabsa-sidebar-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: calc(100vh - 99px);
    margin: 0;
    padding: 0;
    .nhsabsa-sidebar-wrapper {
        flex: 1 0 auto;
        display: flex;
        .nhsabsa-sidebar-content {
            flex: 1 0;
            background-color: #f0f4f5;
            padding: 32px;
            margin: 0px;
        }
        .nhsabsa-sidebar-nav {
            width: 360px;
            order: -1;
            background-color: #d8dde0;
            margin: 0;
        }

    }
}

.side-nav {
    h3 {
        padding: 16px;
        margin: 0;
    }

    p {
        padding: 0px 16px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
    }

    li a {
        display: block;
        color: #005EB8;
        font-size: 18px;
        text-decoration: none;
        border-top: #ccc 1px solid;
        border-bottom: #ccc 1px solid;
        padding: 16px;
        &.active {
            background-color: #005EB8;
            color: white;
            font-weight: 600;
            border-top: $nhsuk-link-color 1px solid;
            border-bottom: $nhsuk-link-color 1px solid;
        }
    }
}

.side-nav li a:hover:not(.active) {
    background-color: $nhsuk-link-color;
    color: white;
}

@media (min-width: 48.0525em) {
    .nhsabsa-sidebar-container {
        min-height: calc(100vh - 80px);
    }

    .side-nav {
        h3 {
            padding: 32px;
        }
        p {
            padding: 0px 32px;
        }
        li a {
            padding: 16px 32px;
        }
    }
}
.nhsuk-table__button {
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.nhsuk-table__button--routine {
    border: 2px solid $nhsuk-link-color;
    &:visited {
        color: $nhsuk-link-color;
    }
    &:hover {
        background-color: $nhsuk-link-color;
        color: #fff;
    }
}

.nhsuk-table__button--priority {
    color: #d6b814;
    border: 2px solid #d6b814;
    &:visited {
        color: #d6b814;
    }
    &:hover {
        background-color: #d6b814;
        color: #fff;
    }
}

.nhsuk-table__button--urgent {
    color: $nhsuk-error-color;
    border: 2px solid $nhsuk-error-color;
    &:visited {
        color: $nhsuk-error-color;
    }
    &:hover {
        background-color: $nhsuk-error-color;
        color: #fff;
    }
}

.nhsuk-table__button--closed {
    color: $nhsuk-secondary-text-color;
    border: 2px solid $nhsuk-secondary-text-color;
    &:visited {
        color: $nhsuk-secondary-text-color;
    }
    &:hover {
        background-color: $nhsuk-secondary-text-color;
        color: #fff;
    }
}

.nhsuk-table__button--complete {
    color: $nhsuk-button-color !important;
    border: 2px solid $nhsuk-button-color;
    &:visited {
        color: $nhsuk-button-color;
    }
    &:hover {
        background-color: $nhsuk-button-color;
        color: #fff !important;
    }
}

.nhsuk-table__button--incomplete {
    color: $nhsuk-secondary-button-color!important;
    border: 2px solid $nhsuk-secondary-button-color;
    &:visited {
        color: $nhsuk-secondary-button-color;
    }
    &:hover {
        background-color: $nhsuk-secondary-button-color;
        color: #fff !important;
    }
}

.nhsuk-header-select {
    float: left;
    margin-bottom: 0px;
}

.nhsuk-add-another {
    text-align: right;
}

.nhsuk-login-panel {
    padding: 32px 0px;
    background-color: $color_nhsuk-grey-4;
    overflow: auto;
}

.nhs-login-panel__sign-in {
    float: left;
    padding: 0px 32px;
    border-right: 4px solid $color_nhsuk-blue;
    p:last-of-type {
        margin-bottom: 0px;
    }
}

.nhs-login-panel__register {
    float: left;
    padding: 0px 32px;
}

.nhsuk-u-font-style-italic {
    font-style: italic;
}

.nhsuk-u-text-align-center {
    text-align: center;
}

.nhsuk-urgent-intro {
    display: flex;
    margin-bottom: 20px;
}

.nhsuk-urgent-intro__button {
    margin-right: 20px;
}

.fixed-nav {
    position: fixed;
    width: 360px;
}