<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Case overview
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->


{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">

			<nav class="nhsuk-red-background patient-info">
				<ul role="navigation">
				  <li><span><strong>Case type: </strong> Urgent</span></li>
				  <li><span><strong> Forename(s): </strong> Martin</span></li>
				  <li><span><strong>Surname: </strong> Lincoln</span></li>
				  <li><span><strong>Date of birth: </strong> 02/11/1935</span></li>
				  <li><span><strong>NHS Number: </strong> 9975360025</span></li>
				</ul>
			  </nav>

			<h1>
				QAP's proposed cause of death
            </h1>

            <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">
                  <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    Important
                  </span>
                </h3>
                <p>You must ensure that the proposed cause of death entered here matches the copy provided by the QAP (quaified attending practitioner). This section
                    should not be an interpretation of what the QAP has written.
                </p>
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="select-1">
                  Select the name of the QAP who proposed the cause of death
                </label>

              </div>
							<div class="nhsuk-radios">

								<div class="nhsuk-radios__item">
									<input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
									<label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
										QAP 1
									</label>
								</div>

								<div class="nhsuk-radios__item">
									<input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
									<label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
										QAP 2
									</label>
								</div>
								</div>


              <div class="nhsuk-inset-text nhsuk-u-width-one-half">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p> <a href="/" title="Add a person"> Add a person</a> to the key people involved in care section if they do not appear in the drop-down list.</p>
              </div>

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                  <legend class="nhsuk-fieldset__legend">

                      Before submission, the QAP has discussed their proposed cause of death with:

                  </legend>

                  <div class="nhsuk-hint" id="example-hint">
                    Select all options that apply.
                  </div>

                  <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                        Another doctor or specialist
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                        Consultant
                      </label>
                    </div>

                  </div>
                </fieldset>
            </div>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                      Enter the details of anyone else the QAP's proposd cause of death has been discussed with
                    </label>
                    <textarea class="nhsuk-textarea  nhsuk-u-width-two-thirds" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                  </div>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="example">
                      Cause of death summary
                    </label>
                    <textarea class="nhsuk-textarea  nhsuk-u-width-two-thirds" id="example" name="example" rows="10" aria-describedby="example-hint"></textarea>
                  </div>

                  <div class="nhsuk-form-group">

                  {% include "includes/multi-grid-form-input.html" %}

                  </div>
                  <div class="nhsuk-form-group">
                  <div class="govuk-warning-text nhsuk-form-group nhsuk-u-padding-bottom-5">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <span class="govuk-warning-text__text">
                      <span class="visually-hidden"> Warning </span>
                      You must agree to the declaratio in order to close the case
                    </span>
                  </div>
                  </div>

                  <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">


                      <div class="nhsuk-checkboxes">

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            I confirm that i have:
                            <span>
                                <ul>
                                    <li>Recieved electronic instruction from the QAP proposing the cause of death</li>
                                    <li>entered the cause of death proposed by the QAP exactly as stated</li>
                                </ul>
                            </span>
                          </label>
                        </div>

                      </div>
                    </fieldset>

                  </div>

                  <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">


                      <div class="nhsuk-checkboxes">

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            This section is complete and ready for the discussion between the medical examiner or medical examiner officer, and the QAP
                          </label>
                        </div>

                      </div>
                    </fieldset>

                  </div>

	<a class="nhsuk-button" href="re-open-cod" draggable="false">
		Save and continue
	</a>
	<div class="nhsuk-u-width-one-half">
		<a href="case-overview">Return to case overview without saving</a>
	</div>
</div>
</div>
{% endblock %}
