<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<style>
.nhsuk-details__summary {
	color: #212b32;
}
</style>
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Re-open
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->


{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">

			<nav class="nhsuk-red-background patient-info">
				<ul role="navigation">
				  <li><span><strong>Case type: </strong> Urgent</span></li>
				  <li><span><strong> First name(s): </strong> John</span></li>
				  <li><span><strong>Last name: </strong> Johnson</span></li>
				  <li><span><strong>Date of birth: </strong> 30/07/1961</span></li>
				  <li><span><strong>NHS number: </strong> 9975360026</span></li>
				</ul>
			  </nav>

				<header class="page-header">
				                          <span class="heading-secondary" style="color: #6f777b;font-size: 27px;">Re-open case</span>
				                          <h1 class="nhsuk-heading-xl">Coroner notification requirement?</h1>
				                        </header>
						<form action="reOpenFour" method="get">

						<fieldset class="nhsuk-fieldset">
								<legend class="nhsuk-fieldset__legend">
										<p class="nhsuk-fieldset__heading">
												Does this case need to be notified to the coroner?</p>
								</legend>
				​
				<div class="nhsuk-radios">

<div class="nhsuk-radios__item">
<input class="nhsuk-radios__input" id="radioInlineGroup" name="radioInlineGroup" type="radio" value="coroner" aria-describedby="example-hints-1-item-hint">
<label class="nhsuk-label nhsuk-radios__label" for="radioInlineGroup">
Yes
</label>
</div>

<div class="nhsuk-radios__item">
<input class="nhsuk-radios__input" id="radioInlineGroup" name="radioInlineGroup" type="radio" value="amendcod" aria-describedby="example-hints-2-item-hint">
<label class="nhsuk-label nhsuk-radios__label" for="radioInlineGroup2">
No, I just need to amend the cause of death
</label>
</div>

<div class="nhsuk-radios__item">
<input class="nhsuk-radios__input" id="radioInlineGroup" name="radioInlineGroup" type="radio" value="amendcod" aria-describedby="example-hints-2-item-hint">
<label class="nhsuk-label nhsuk-radios__label" for="radioInlineGroup2">
No, I just need to close this case
</label>
</div>


</div>
						</fieldset>
						<br>
						<button class="nhsuk-button" type="submit">
								Save and continue
						</button>
						</form>
		</div>
	</div>



{% endblock %}
