<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar-no-login.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Medical Examiners - Get security code
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-width-container-fluid">
  <main class="nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {% from 'fieldset/macro.njk' import fieldset %}
{% from "input/macro.njk" import input %}

<div class="nhsuk-grid-column-two-thirds">

  <h1 class="nhsuk-heading-l page-title">Get security code</h1>

  <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="surname">
          Open the Authy app and scan the QR code.
         
         </label> </div>


    <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>  I have a <a href = "#">desktop Authy application.</a></p>
      </div>
   
 
  <div class="nhsuk-form-group">
   
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="/images/QR_code.jpg"  alt="QR Codes">
      
      </figure>
    
   
     

</div>
      
       
       

       <div class="nhsuk-form-group">
				<label class="nhsuk-label" for="surname">
					Enter the code that appears on your mobile phone.
					
    <div class="nhsuk-hint">
        This is a 6 digit code, like 123456.  </div>
					
				</label>
				<input class="nhsuk-input nhsuk-u-width-one-half" id="surname" name="surname" type="text" >
        </div>
        

        {{ button({
          "text": "Continue",
          "href": "done"
        }) }}


       

       </div>
  
    
       
        
     

   
     


  </form>

</div>
  </div>

 
</div>



  </main>
</div>

{% endblock %}