<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "meo-user" %}
{% set activesub = "cases" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Create a case
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
 

{% block content %}
	<h1>
		<span class="nhsuk-caption-m nhsuk-caption--bottom ">
			Create new case
			</span>
		Deeased person's details
		
	</h1>
			
	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="forename">
			First name(s)
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="forename" name="forename" type="text">
	</div>
		
	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="surname">
			Last name
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="surname" name="surname" type="text">
	</div>

	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="known-as">
			Known as <span class="optional-span">(optional)</span>
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="known-as" name="known-as" type="text">
	</div>

	<div class="nhsuk-form-group">
		<fieldset class="nhsuk-fieldset">
			<legend class="nhsuk-fieldset__legend">
				<p class="nhsuk-fieldset__heading">
					Sex
				</p>
			</legend>
		
			<div class="nhsuk-radios nhsuk-radios--conditional">
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="gender-female" name="gender" type="radio" value="female">
					<label class="nhsuk-label nhsuk-radios__label" for="gender-female">
						Female
					</label>
				</div>
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="gender-male" name="gender" type="radio" value="male">
					<label class="nhsuk-label nhsuk-radios__label" for="gender-male">
						Male
					</label>
				</div>

				
			</div>
		</fieldset>
	</div>
<!--
	<div class="nhsuk-form-group">
		<fieldset class="nhsuk-fieldset">
			<legend class="nhsuk-fieldset__legend">
				<p class="nhsuk-fieldset__heading">
					Ethnic group
				</p>
			</legend>
		
			<div class="nhsuk-radios nhsuk-radios--conditional">
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="ethnicity-white-bitish" name="ethnicity" type="radio" value="white / white british">
					<label class="nhsuk-label nhsuk-radios__label" for="ethnicity-white-british">
						White/ White British
					</label>
				</div>

				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="ethnicity-mixed" name="ethnicity" type="radio" value="mixed / multiple ethnic groups">
					<label class="nhsuk-label nhsuk-radios__label" for="ethnicity-mixed">
						Mixed/ multiple ethnic groups
					</label>
				</div>

				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="ethnicity-asian-british" name="ethnicity" type="radio" value="asian / asian british">
					<label class="nhsuk-label nhsuk-radios__label" for="ethnicity-asian-british">
						Asian/ Asian British
					</label>
				</div>
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="ethnicity-black-british" name="ethnicity" type="radio" value="black / african / carribean / black British">
					<label class="nhsuk-label nhsuk-radios__label" for="ethnicity-black-british">
						Black/ African/ Carribean/ Black British
					</label>
				</div>
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="ethnicity-unknown" name="ethnicity" type="radio" value="unknown">
					<label class="nhsuk-label nhsuk-radios__label" for="ethnicity-unknown">
						Unknown
					</label>
				</div>
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="ethnicity-other" name="ethnicity" type="radio" value="other" aria-controls="ethnicity-other-input" aria-expanded="false">
					<label class="nhsuk-label nhsuk-radios__label" for="ethnicity-other">
						Other
					</label>
				</div>
				<div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="ethnicity-other-input">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label" for="ethnicity-other-specify">
						Please specify
						</label>
						<input class="nhsuk-input nhsuk-u-width-two-thirds" id="ethnicity-other-specify" name="other-specify" type="text">
					</div>
				</div>	
			</div>
		</fieldset>
	</div>
-->
	<div class="nhsuk-form-group">
		<fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
			<legend class="nhsuk-fieldset__legend">
				<p class="nhsuk-fieldset__heading">
					Date of birth
				</p>
			</legend>
			<span class="nhsuk-hint" id="dob-hint">
				For example, 15 3 1984
			</span>
		
			<div class="nhsuk-date-input" id="dob">
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-day">
							Day
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
					</div>
				</div>
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
							Month
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
					</div>
				</div>
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
							Year
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
					</div>
				</div>
			</div>
		</fieldset>	  
	</div>

	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="nhs-number">
			NHS number
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="nhs-number" name="nhs-number" type="text">
	</div>
		
	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="hospital-number">
			Hospital number <span class="optional-span">(optional)</span>
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="hospital-number" name="hospital-number" type="text">
	</div>
	<div class="nhsuk-form-group">
		<fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
			<legend class="nhsuk-fieldset__legend">
				<p class="nhsuk-fieldset__heading">
					Date of death
				</p>
			</legend>
			<span class="nhsuk-hint" id="dob-hint">
				For example, 15 3 1984
			</span>
		
			<div class="nhsuk-date-input" id="dob">
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-day">
							Day
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
					</div>
				</div>
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
							Month
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
					</div>
				</div>
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
							Year
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
					</div>
				</div>
			</div>
		</fieldset>	  
	</div>	

	<div class="nhsuk-form-group">
		<fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
			<legend class="nhsuk-fieldset__legend">
				<p class="nhsuk-fieldset__heading">
					Time of death
				</p>
			</legend>
			<span class="nhsuk-hint" id="dob-hint">
				Please use 24 hour format. For example, 16 03
			</span>
		
			<div class="nhsuk-date-input" id="dob">
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-day">
							Hour
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
					</div>
				</div>
				<div class="nhsuk-date-input__item">
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
							Minutes
						</label>
						<input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
					</div>
				</div>
			</div>
		</fieldset>	  
	</div>

	<div class="nhsuk-form-group">
		<fieldset class="nhsuk-fieldset">
			<legend class="nhsuk-fieldset__legend">
				<p class="nhsuk-fieldset__heading">
					Request for rapid release?
				</p>
			</legend>
		
			<div class="nhsuk-radios nhsuk-radios--conditional">
		
				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="rapid-release-yes" name="rapid-release" type="radio" value="yes" aria-controls="rapid-yes" aria-expanded="false">
					<label class="nhsuk-label nhsuk-radios__label" for="apid-release-yes">
						Yes
					</label>
				</div>



					<div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="rapid-yes">
			  
					  <div class="nhsuk-form-group">
						<label class="nhsuk-label" for="email">
						  Please specify why
						</label>
						<input class="nhsuk-input nhsuk-u-width-one-third" id="email" name="email" type="text">
					  </div>
			  
					</div>

				<div class="nhsuk-radios__item">
					<input class="nhsuk-radios__input" id="apid-release-no" name="rapid-release" type="radio" value="no">
					<label class="nhsuk-label nhsuk-radios__label" for="apid-release-no">
						No
					</label>
				</div>
			</div>
		</fieldset>
	</div>
		
	<fieldset class="nhsuk-fieldset nhsuk-u-width-one-half">
		<legend class="nhsuk-fieldset__legend">
			<p class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
				Home address
			</p>
		</legend>
	
		<div class="nhsuk-form-group">
			<label class="nhsuk-label" for="address-line-1">
				Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
			</label>
			<input class="nhsuk-input" id="address-line-1" name="address-line-1" type="text">
		</div>
	
		<div class="nhsuk-form-group">
			<label class="nhsuk-label" for="address-line-2">
				<span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>
			</label>
			<input class="nhsuk-input" id="address-line-2" name="address-line-2" type="text">
		</div>
	
		<div class="nhsuk-form-group">
			<label class="nhsuk-label" for="address-town">
				Town or city <span class="optional-span">(optional)</span>
			</label>
			<input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
		</div>
	
		<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="address-county">
			County <span class="optional-span">(optional)</span>
		</label>
		<input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text">
		</div>
	
		<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="address-postcode">
			Postcode
		</label>
		<input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
		</div>
	</fieldset>

	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="occupation">
			Main job
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="occupation" name="occupation" type="text">
	</div>

	<div class="nhsuk-form-group">
			<div class="nhsuk-checkboxes">
		
			<div class="nhsuk-checkboxes__item">
				<input class="nhsuk-checkboxes__input" id="occupation-unknown" name="occupation-unknown" type="checkbox" value="unknown">
				<label class="nhsuk-label nhsuk-checkboxes__label" for="occupation-unknown">
				Unknown
				</label>
			</div>
		</div>
	</div>

	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="additional-info">
			You can list details about past jobs here. For example, if the person worked with harmful chemicals. 
		</label>
		<textarea class="nhsuk-textarea" id="additional-info" name="additional-info" rows="5"></textarea>
	</div>

	<a class="nhsuk-button" href="case-overview" draggable="false">
		Save and continue
	</a>
	<div class="nhsuk-u-width-one-half">
		<a href="open-cases">Return to previous page without saving</a>
	</div>
{% endblock %}