<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'main-template.html' %}
{% set active = "me-user" %}
{% set activesub = "cases" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
	Case overview
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
 

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">

			<nav class="nhsuk-red-background patient-info">
				<ul role="navigation">
				  <li><span><strong>Case type: </strong> Urgent</span></li>
				  <li><span><strong> Forename(s): </strong> Martin</span></li>
				  <li><span><strong>Surname: </strong> Lincoln</span></li>
				  <li><span><strong>Date of birth: </strong> 02/11/1935</span></li>
				  <li><span><strong>NHS Number: </strong> 9975360025</span></li>
				</ul>
			  </nav>

			<h1>
				Informant and other contacts
            </h1>

            <div class="nhsuk-form-group">
              <form action="informant-handler" method="post">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend">
                        <p class="nhsuk-fieldset__heading">
                            Are you sure you want to delete <strong>Linda Robson </strong> as a contact?
                        </p>
                    </legend>

              
                  <div class="nhsuk-radios nhsuk-radios--inline">

                   
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="informant-yes" name="informant" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="informant-yes">
                        Yes
                      </label>
                    </div>

                            
                  </div>
                </fieldset>
                <br>
                <button class="nhsuk-button" type="submit">
                  Save and continue
                </button>   
              </form>
              </div>


             
	<div class="nhsuk-u-width-one-half">

		<a href="edit-a-contact">Return to previous page without saving</a>
	</div>
</div>
</div>
{% endblock %}