<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-bc2.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Case overview {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-row">
              
              <div class="nhsuk-grid-column-full">
                <div class="nhsuk-grid-column-three-quarters">
                  <span class="heading-secondary" style="color: #6f777b;font-size: 27px;">Communication and concerns - Martin Lincoln</span>
                  <h1>Record concern</h1>
                  <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>A medical examiner will review concerns before any action is taken.</p>
                  </div>
                 <div class="nhsuk-form-group">
                    <label class="nhsuk-label"
                         for="surname">Name of the person raising concern</label> <input class="nhsuk-input nhsuk-u-width-one-half"
                         id="surname"
                         name="surname"
                         type="text">
                  </div>
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label"
                         for="surname">Role or relevance of the person to the case</label>
                    <div class="nhsuk-hint">
                      <label class="nhsuk-label"
                           for="surname">For example, ME, MEO, Attending practicioner, etc.</label>
                    </div><input class="nhsuk-input nhsuk-u-width-one-half"
                         id="surname"
                         name="surname"
                         type="text">
                  </div><br>
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label"
                         for="surname">Details of the concern</label> 
                    <textarea class="nhsuk-textarea"
                         id="additional-info"
                         name="additional-info"
                         rows="5"></textarea>
                  </div>

                  <hr>

                    <fieldset class="nhsuk-fieldset">
                    <h3>Is this case recommended for a case record review?</h3>
                         <div class="nhsuk-hint"
                             id="example-hint">
                          For example, a structured judgement review or equivalent
                        </div>
                   <div class="nhsuk-radios nhsuk-radios--inline">
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="yes"
                             name="case"
                             type="radio"
                             value="yes"> <label class="nhsuk-label nhsuk-radios__label"
                             for="yes">Yes</label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="no"
                             name="case"
                             type="radio"
                             value="no"> <label class="nhsuk-label nhsuk-radios__label"
                             for="no">No</label>
                      </div>
                    </div>
                  </fieldset><br>
                                    <fieldset class="nhsuk-fieldset">
                    <h3>Is this case recommended for any  other clinical governance processes review?</h3>
                           <div class="nhsuk-hint"
                             id="example-hint">
                          For example, safeguarding or morbidity and mortality (M&M) meetings
                        </div>
                  <div class="nhsuk-radios nhsuk-radios--inline">
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="yes"
                             name="case"
                             type="radio"
                             value="yes"> <label class="nhsuk-label nhsuk-radios__label"
                             for="yes">Yes</label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="no"
                             name="case"
                             type="radio"
                             value="no"> <label class="nhsuk-label nhsuk-radios__label"
                             for="no">No</label>
                      </div>
                    </div>
                  </fieldset><br>

                  <fieldset class="nhsuk-fieldset">
                    <h3>Is this a patient safety incident?</h3>
                    <div class="nhsuk-radios nhsuk-radios--inline">
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="yes"
                             name="case1"
                             type="radio"
                             value="yes"> <label class="nhsuk-label nhsuk-radios__label"
                             for="yes">Yes</label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="no"
                             name="case1"
                             type="radio"
                             value="no"> <label class="nhsuk-label nhsuk-radios__label"
                             for="no">No</label>
                      </div>
                    </div>
                  </fieldset><br>
                                                      <fieldset class="nhsuk-fieldset">
                    <h3>Has the main contact of the deceased been made aware of the Patient Advice and Liaison Service or equivalent service?</h3>
                    <div class="nhsuk-radios nhsuk-radios--inline">
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="yes"
                             name="case"
                             type="radio"
                             value="yes"> <label class="nhsuk-label nhsuk-radios__label"
                             for="yes">Yes</label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input"
                             id="no"
                             name="case"
                             type="radio"
                             value="no"> <label class="nhsuk-label nhsuk-radios__label"
                             for="no">No</label>
                      </div>
                    </div>
                  </fieldset>
                  
                  <hr>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label"
                         for="surname"><b>Email of case concern recipient</label></b><input class="nhsuk-input nhsuk-u-width-one-half"
                         id="surname"
                         name="surname"
                         type="text">
                  </div>
                  <br>

                  <div class="nhsuk-u-width-one-half">
                    <a class="nhsuk-button"
                         draggable="false"
                         href="concern-notification-summary">Save and continue</a>
                  </div>
                  <div class="nhsuk-u-width-one-half">
                    <a href="javascript:history.back()">Return to previous page without saving</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--<div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption==bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS No. 997 536 0025</span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a href="Case-overview-martin-lincoln">Case details</a>
                </li>
                <li>
                  <a class="active"
                      href="Case-history-martin-lincoln">Case history</a>
                </li>
                <li>
                  <a href="scrutiny-martin-lincoln">Case Scrutiny</a>
                </li>
                <li>
                  <a href="coroner-notification-martin-lincoln">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>-->
    </div>
  </div>{% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %} {% endblock %}
</body>
</html>
