<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar-no-login.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Medical Examiners - Set up an authentication app
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-width-container-fluid">
  <main class="nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {% from 'fieldset/macro.njk' import fieldset %}
{% from "input/macro.njk" import input %}

<div class="nhsuk-grid-column-two-thirds">


  <h1 class="nhsuk-heading-l page-title">Set up your account with an authentication app </h1>

  <p>Set your account so that you can sign in using an authentication app on your smartphone or desktop computer.</p>







  <p>Use the app to generate a 6 digit security code each time you sign in.</p>

  <h3>Which device do you want to download an authentication app onto?</h3>

  <form action="download-handler" method="post">

      <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">

          </legend>
  ​
          <div class="nhsuk-radios">

                  <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="desktop" name="radioGroup" type="radio" value="desktop">

                      <label class="nhsuk-label nhsuk-radios__label" for="desktop">
                          Desktop (including laptop)
                      </label>
                  </div>
  ​
                  <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="smartphone" name="radioGroup" type="radio" value="smartphone">
                      <label class="nhsuk-label nhsuk-radios__label" for="smartphone">
                         Smartphone
                      </label>
                  </div>
  ​
  ​
  ​
          </div>
      </fieldset>
      <br>
      <button class="nhsuk-button" type="submit">
          Continue
      </button>
      </form>

       </div>







  </form>

</div>
  </div>


</div>



  </main>


{% endblock %}
