<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout-sidebar.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'main-template-sidebar.html' %} {% set active = "me-user" %} {% set activesub = "cases" %}
  <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Review cause of death {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-two-thirds">
                    <h1 class="nhsuk-heading-xl">Open cases</h1>
                    <div class="checkbox-list" id="checkbox-toggle">
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email"> <label class="nhsuk-label nhsuk-checkboxes__label toggle-label"
                            for="example-1">Name</label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email"> <label class="nhsuk-label nhsuk-checkboxes__label toggle-label"
                            for="example-1">Date of birth</label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email"> <label class="nhsuk-label nhsuk-checkboxes__label toggle-label"
                            for="example-1">Date of death</label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email"> <label class="nhsuk-label nhsuk-checkboxes__label toggle-label"
                            for="example-1">NHS number</label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email"> <label class="nhsuk-label nhsuk-checkboxes__label toggle-label"
                            for="example-1">Hospital number</label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                            value="email"> <label class="nhsuk-label nhsuk-checkboxes__label toggle-label"
                            for="example-1">Case types</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-third">
                    <a class="nhsuk-button" href="create-case-quick" style="float:right">Create new case</a>
                  </div>
                </div>
                <hr style="border-bottom:4px solid #005eb8; margin:0">
                <div class="table-scroll" id="table-scroll">
                  <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
                    <table class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table" id="sortable">
                      <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">
                          <th aria-sort="none" class="nhsuk-table__header" scope="col"><button data-index="0"
                              type="button">Name</button></th>
                          <th aria-sort="none" class="nhsuk-table__header" scope="col"><button data-index="0"
                              onclick="sortTable()" type="button">Date of birth</button></th>
                          <th aria-sort="none" class="nhsuk-table__header" scope="col"><button data-index="0"
                              onclick="sortTable()" type="button">Date of death</button></th>
                          <th aria-sort="none" class="nhsuk-table__header" scope="col"><button data-index="0"
                              onclick="sortTable()" type="button">NHS number</button></th>
                          <th aria-sort="none" class="nhsuk-table__header" scope="col"><button data-index="0"
                              onclick="sortTable()" type="button">Hospital number</button></th>
                          <!--<th class="nhsuk-table__header fixed-side" aria-sort="none" scope="col">
                                                                        <button onclick="sortTable()" type="button" data-index="0">Action</button>
                                                                </th>-->
                          <th aria-sort="none" class="nhsuk-table__header fixed-side" scope="col"><button data-index="0"
                              onclick="sortTable()" type="button">Case type</button></th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                            <a href="case-overview-martin-lincoln3">Martin Lincoln</a>
                          </td>
                          <td class="nhsuk-table__cell">02/11/1935</td>
                          <td class="nhsuk-table__cell">28/08/2020</td>
                          <td class="nhsuk-table__cell">9975360025</td>
                          <td class="nhsuk-table__cell">66543</td>
                          <!--<td class="nhsuk-table__cell">Review attending practitioner's proposed cause of death</td>-->
                          <td><span class="nhsuk-tag nhsuk-tag--blue case-tag">Reopened</span></td>
                        </tr>
                      </tbody>
                      <tbody class="nhsuk-table__body">
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                            <a href="case-overview-martin-lincoln4">Jane Murphy</a>
                          </td>
                          <td class="nhsuk-table__cell">16/01/1967</td>
                          <td class="nhsuk-table__cell">28/09/2021</td>
                          <td class="nhsuk-table__cell">9965460025</td>
                          <td class="nhsuk-table__cell">66573</td>
                          <!--<td class="nhsuk-table__cell">Review attending practitioner's proposed cause of death</td>-->
                          <td><span class="nhsuk-tag nhsuk-tag--blue case-tag">Reopened</span></td>
                        </tr>
                      </tbody>
                      <tbody class="nhsuk-table__body">
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                            <a href="case-overview-martin-lincoln3">Mark Smith</a>
                          </td>
                          <td class="nhsuk-table__cell">08/10/1948</td>
                          <td class="nhsuk-table__cell">28/09/2021</td>
                          <td class="nhsuk-table__cell">9998760025</td>
                          <td class="nhsuk-table__cell">66583</td>
                          <!--<td class="nhsuk-table__cell">Review attending practitioner's proposed cause of death</td>-->
                          <td><span class="nhsuk-tag nhsuk-tag--blue case-tag">Reopened</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <ul>
            <div class="options" id="options"></div>
            <li>
              <a class="active" href="me-case-list-reviewconcerns">Open cases</a>
            </li>
            <!--<li><a href="me-case-list-reviewcod">Review cause of death</a></li>-->
            <li>
              <a href="me-case-list-awaitscrutiny">Awaiting medical examiner's scrutiny</a>
            </li>
            <li>
              <a href="me-case-list-closed">Closed cases</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>{% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %} {% endblock %}
</body>

</html>