<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-bc.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a quick case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %}
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
   <header class="page-header">
    
    <h1>
      Agreed new cause of death​
          </h1>




                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Cause of death summary
                  </label>
                  <textarea class="nhsuk-textarea  nhsuk-u-width-two-thirds" id="example" name="example" rows="10" aria-describedby="example-hint"></textarea>
                </div>

                <div class="nhsuk-form-group">

                {% include "includes/multi-grid-form-input.html" %}

                </div>
                <div class="nhsuk-form-group">
                <div class="govuk-warning-text nhsuk-form-group nhsuk-u-padding-bottom-5">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <span class="govuk-warning-text__text">
                    <span class="visually-hidden">  </span>
                    You must agree to the declaration in order to close the case
                  </span>
                </div>
                </div>

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">


                    <div class="nhsuk-checkboxes">

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          I confirm that i have:
                          <span>
                              <ul>
                                  <li>received electronic instruction from the attending practitioner (AP) proposing the cause of death​</li>
                                  <li>entered the cause of death proposed by the AP exactly as stated​</li>
                                  <li>this section is complete and ready for the discussion between the medical examiner or medical examiner officer, and the AP​</li>
                              </ul>
                          </span>
                        </label>
                      </div>

                    </div>
                  </fieldset>

                </div>

                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">


                  </fieldset>

                </div>

<a class="nhsuk-button" href="case-scrutiny-martin-lincoln5" draggable="false">
  Save and continue
</a>
<!--<div class="nhsuk-u-width-one-half">
  <a href="case-overview">Return to previous page without saving</a>
</div>-->
{% endblock %}
</body>
</html>

</div>
</div>