<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!DOCTYPE html>
<html>
<head>

  <style>
      .autocomplete-wrapper {
        max-width: 20em;
        margin-bottom: 4rem;
      }
      .autocomplete__wrapper {
        position: relative;
      }
      .autocomplete__hint,
      .autocomplete__input,
      .autocomplete__option {
        font-size: 19px;
        line-height: 1.31579;
      }
      .autocomplete__input--default {
        padding: 5px;
      }
      .autocomplete__input {
        position: relative;
      }
      .autocomplete__input {
        -webkit-appearance: none;
        border: 2px solid #0b0c0c;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        margin-bottom: 0;
        width: 100%;
      }
      .autocomplete__menu--inline {
        position: relative;
      }
      .autocomplete__menu--hidden {
        display: none;
      }
      .autocomplete__menu {
        background-color: #fff;
        border: 2px solid #0b0c0c;
        border-top: 0;
        color: #0b0c0c;
        margin: 0;
        max-height: 342px;
        overflow-x: hidden;
        padding: 0;
        width: calc(100% - 4px);
      }
      select:not(:-internal-list-box) {
        overflow: visible !important;
      }
      select {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark-color(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: rgb(248, 248, 248);
        cursor: default;
        margin: 0em;
        font: 400 11px system-ui;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(166, 166, 166);
        border-image: initial;
      }
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
      }

  </style><!-- Extends the layout from /views/layout.html -->
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Medical Examiners {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Change the page title here -->
      <h1>Medical Examiner Service -Manage my caseload <!--  <span class="nhsuk-caption-xl nhsuk-caption==bottom">Version {{version}}</span>--></h1><!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">Medical Examiners and Medical Examiner Officers and Attending Practitioners will use to log cases, record their scrutiny of non-coronial deaths, and refer to a coroner if necessary.</p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>To give others access to this prototype:</p>
        <ul>
          <li>Username : medex</li>
          <li>Password : medex</li>
        </ul>
      </div>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">End to end V2</span>
        </summary><br>
        <p>Coroner notification - October 2021</p>
        <div class="nhsuk-details__text">
          <p class="nhsuk-u-margin-bottom-0"><a href="endtoend-v2/meo-journey/coroner-notification-martin-lincoln"><button class="nhsuk-button"
                  type="submit">Iteration 1</button></a></p>
        </div>
      </details>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">End to end journey - September 2021</span>
        </summary><br>
        <p>End to end journey - September 2021</p>
        <div class="nhsuk-details__text">
          <p class="nhsuk-u-margin-bottom-0"><a href="endtoend-new/meo-journey/index"><button class="nhsuk-button"
                  type="submit">MEO journey</button></a></p>
          <p class="nhsuk-u-margin-bottom-0"><a href="endtoend-new/me-journey/index"><button class="nhsuk-button"
                  type="submit">ME journey</button></a></p>
        </div>
      </details>
      <hr>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">Previous work</span>
        </summary>
        <div class="nhsuk-details__text">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Previous work</span>
            </summary><br>
            <p>Prototype developed by FE Dev - Lee Bodak</p>
            <div class="nhsuk-details__text">
              <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/index"><button class="nhsuk-button"
                      type="submit">Start</button></a></p>
              <p>For iteration work - refer <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/2516287503/Prototype+References">here</a></p>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 24</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Side nav-Iteration2</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> changing some of the categories in side nav <strong>will be a useful feature for</strong> users <strong>as it is closer to their ways of working</strong> and
                  it is less complicated for users. <strong>This will</strong> help users work faster and more efficient.</p>
                  <h3 class="nhsuk-heading-m">What we changed:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>removed Action tab as it was confusing users and making them feel micromanaged</li>
                    <li>added All cases and Awaiting scrutiny for ME's, and Awaiting AP's proposed cod, Awaiting ME's review category and changed Needs coroner feedback to Awaiting coroner's outcome for MEO's.</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>If users find side nav easy to use and if it allows users to adjust it to their way of working</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav-iteration2/open-cases"><button class="nhsuk-button"
                          type="submit">MEO view</button></a></p>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav-iteration2/me-case-list-reviewcod"><button class="nhsuk-button"
                          type="submit">ME view</button></a></p>
                </div>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 23</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Side nav</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <h3 class="nhsuk-heading-m">What we added:</h3>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav/Cheryl-Tunt/me-case-list-reviewcod"><button class="nhsuk-button"
                          type="submit">ME view-Cheryl Tunt</button></a></p>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav/Dennis-Renolds/me-case-list-awaitscrutiny"><button class="nhsuk-button"
                          type="submit">ME view-Dennis Renolds</button></a></p>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav/MEO-Dennis-Renolds/open-cases"><button class="nhsuk-button"
                          type="submit">MEO view-Dennis Renolds</button></a></p>
                </div>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 22</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">MFA</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis A</h3>
                  <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding a MFA <strong>will be a useful feature for</strong> users <strong>as it is a requirement</strong> in terms of security compliant and it enables
                  stronger authentication. <strong>This will</strong> reduce the risk of security threat.</p>
                  <hr>
                  <p>Took feedback from TOTP MFA user journey from various sources.</p>
                  <h3 class="nhsuk-heading-m">What we changed:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>changed authentication method from app-based to email</li>
                    <li>removed the manual app download processs</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Are users able to follow the steps to access the system</li>
                    <li>..</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet"></ul>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>No validation errors</li>
                  </ul>
                  <hr>
                  <p class="nhsuk-u-margin-bottom-0"><a href="MFA-it3/login-page"><button class="nhsuk-button"
                          type="submit">Iteration 3 - first sign-on</button></a></p>
                  <p class="nhsuk-u-margin-bottom-0"><a href="MFA-it3/signin-email-only/login-page"><button class="nhsuk-button"
                          type="submit">subsequent sign-on</button></a></p>
                </div>
              </details>
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Side nav</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding side nav to allow us to categorize the case lists <strong>will be a useful feature for</strong> users <strong>as it is a user need</strong> for them
                  to be able to prioritise their caseload by task and urgency. <strong>This will</strong> allow them to more easily see what action they most imminently need to take.</p>
                  <hr>
                  <h3 class="nhsuk-heading-m">What we added:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Added side nav</li>
                    <li>Open cases categorised based on actions needed</li>
                    <li>secondary top nav now used for hospital/trust/office</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Do users find this new nav useful?</li>
                    <li>are they able to easily see what actions are needed on which cases?</li>
                    <li>will this help them to organise and prioritise their work more than the current view?</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>users not happy with tasks and side nav categories</li>
                    <li>they feel like we are overcomplicating it by separating their work into tasks.</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav/open-cases"><button class="nhsuk-button"
                          type="submit">MEO view</button></a></p>
                  <p class="nhsuk-u-margin-bottom-0"><a href="side-nav/me-case-list-reviewconcerns"><button class="nhsuk-button"
                          type="submit">ME view</button></a></p>
                </div>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 21</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Case management</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that users will benefit from being able to see when others are editing cases <strong>This will mean</strong> that data edits are not accidentally
                  overwritten if people are making edits at the same time. <strong>We will have demonstrated this</strong> when this no longer happens.</p>
                  <h3 class="nhsuk-heading-m">What we added:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>inset text with notification to user that another user is editing the case, and they are unable to make edits</li>
                    <li>removed edit links and changed text colour, to make it obvious that users are unable to make edits</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>can users see and understand the inset text?</li>
                    <li>can they understand that they are not able to make edits to the case in this scenario</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>users understood the inset text</li>
                    <li>they understood that they can't edit the case, but felt that this was too restrictive in some circumstances, particularly when paired with the 60 min timeout function.</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="Case-management/case-overview"><button class="nhsuk-button"
                          type="submit">Case overview</button></a></p>
                </div>
              </details>
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Case overview - improvements</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that users will benefit from being able to see more information on sections within an individual case. <strong>This will mean</strong> that users can see at
                  a glance what stage a section is at, or whether any action is needed. <strong>We will have demonstrated this</strong> when users are no longer having to spend extra time and effort individually clicking into each section to find
                  out what stage it is at.</p>
                  <h3 class="nhsuk-heading-m">What we added:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>added an extra column with a summary of each section</li>
                    <li>only certain sections have a summary; for some sections it isn't relevant and wouldn't add any value.</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>do users find the additional column easy to see?</li>
                    <li>do they find the additional information useful?</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>users find the additional column clear and easy to read</li>
                    <li>they find the extra info useful in certain scenarios</li>
                    <li>Some users felt that this would be less useful than having the information available to them as part of a case list categorisation</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/case-overview-improved"><button class="nhsuk-button"
                          type="submit">Case overview</button></a></p>
                </div>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 20</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Sprint 20 - Quick-create case</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> adding create a quick case function will be useful for users. Users <strong>will be able to create a case with basic information which will save them time
                  and allow more cases to be created.</strong></p>
                  <h3 class="nhsuk-heading-m">What we added:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>We added two journeys, longer and shorter one, and will test to see which one will the users prefer</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>If the new option will save time for users</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/quickcreate-case/open-cases"><button class="nhsuk-button"
                          type="submit">Quick-create option 1</button></a></p>
                  <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/quickcreate-case-option2/open-cases"><button class="nhsuk-button"
                          type="submit">Quick-create option 2</button></a></p>
                </div>
              </details>
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Case progress</span>
                </summary>
                <div class="nhsuk-details__text">
                  <h3 class="nhsuk-heading-m">Hypothesis</h3>
                  <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> amending Contacts, Communication and Key people involved in care is esential for user, as it will allow them to navigate through the system easier and
                  complete the task faster. Users <strong>will be able to record actions within a case and this includes conversations with a variety of people without needing to add all their contact information.</strong></p>
                  <h3 class="nhsuk-heading-m">What we added:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>We changed Contact, Key people involved in care and Communication log pages to Case progress log</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>If the Case progress log journey is more efficient and supports users ways of working</li>
                  </ul>
                  <h3 class="nhsuk-heading-m">What we found:</h3>
                  <h3 class="nhsuk-heading-m">Any known issues?</h3>
                  <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/Case-progress/case-overview"><button class="nhsuk-button"
                          type="submit">Case progress</button></a></p>
                </div>
              </details>
              <hr>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 19 - Re-open/Re-close case</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>Re-open/Re-close case</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> Adding reopen buton is an essential feature for users, as it will allow users to reopen case that has previously been closed <strong>as this will allow users
                to add a concern, amend the existing information, amend COD, or if registrar rejects it.</strong></p>
                <h3 class="nhsuk-heading-m">What we added:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Added Reopen button</li>
                  <li>4 options/journeys users could take for reopening the case</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>If users find reopen button useful</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/closed-cases"><button class="nhsuk-button"
                        type="submit">Re-open/Re-close case</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/closed-cases"><button class="nhsuk-button"
                        type="submit">Iteration 1 - ME Journey</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="../meo-journey/closed-cases0"><button class="nhsuk-button"
                        type="submit">Iteration 1 - ME0 Journey</button></a></p>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 18 - ME 60 min timeout</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>60 min timeout</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> Adding a timeout warning is an essential feature for users, as it will allow them to extend their session if they need to and be aware of the time limit users
                <strong>as this will allow us to comply with data security requirements by having a 60 minute timeout.</strong></p>
                <h3 class="nhsuk-heading-m">What we added:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Added 3 pages: Timeout, Timing out and Timed out</li>
                  <li>Timeout warning is shown to users 5 minutes before the time runs out</li>
                  <li>Users can choose to click the link to stay signed in or to be signed out</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>If users are able to complete the task in the given timeframe</li>
                  <li>If users are aware of timeframe on the page</li>
                  <li>If the warning window is obvious enough</li>
                  <li>If users are concerned about loosing&nbsp;the inputted data</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Users found instructions how to stay logged in clear</li>
                  <li>The pop up warning window makes sense to them</li>
                  <li>They like the fact that it tells them that information won’t be saved</li>
                </ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Progressive enhancement</li>
                  <li>If an user don't use Java Script then we need to use meta refresh tag inside Noscript tags that matches the session timeout time</li>
                  <li>If am user is not able to see the warning if away from the screen, it will log them anyway</li>
                </ul>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/me-timeout/60-min-timeout"><button class="nhsuk-button"
                        type="submit">60 min timeout</button></a></p>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 14 &15 - Coroner Notification</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>Coroner Notification - Iteration 2</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding a Coroner Notification section <strong>will be a useful feature for</strong> users <strong>as this will ensure users record information that can be
                transferred to the Coroner.</strong> Users need to fill this section if they are not filling up the Coroner's web portal. <strong>This will</strong> enable a case to be referred to a coroner so that further independent scrutiny can
                take place.</p>
                <hr>
                <h3 class="nhsuk-heading-m">What we changed:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Added extra screens and changed wording, to help the user understand the options for coroner notification</li>
                  <li>There are two types of scenario : Scenario 1 - this is the best case scenario & Scenario 2 - worst case scenario</li>
                  <li>Scenario 1 - where all the fields in the other sections (incl the optional ones) are filled up</li>
                  <li>Scenario 2 - where none of the optional fields been filled</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Are users able to follow the user journey to complete the notification</li>
                  <li>Do users understand what an external referral is, and what they need to do when they complete the referral using the ME service</li>
                  <li>Whether users understand that some information has been filled in other sections within MES will be pull through to this section</li>
                  <li>..</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet"></ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>No validation errors</li>
                </ul>
                <hr>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/Coroner_referral2/case-overview"><button class="nhsuk-button"
                        type="submit">Iteration 2</button></a></p>
              </details>
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>Coroner Referral - Iteration 1</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding a Coroner Referral section <strong>will be a useful feature for</strong> users <strong>as this will ensure users record information that can be
                transferred to the Coroner.</strong> Users need to fill this section if they are not filling up the Coroner's web portal. <strong>This will</strong> enable a case to be referred to a coroner so that further independent scrutiny can
                take place.</p>
                <hr>
                <h3 class="nhsuk-heading-m">What we changed:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Information will be derived from several parts of the system to be transferred to the Coroner (so that we are not asking the same question twice)</li>
                  <li>There are two types of scenario : Scenario 1 - this is the best case scenario & Scenario 2 - worst case scenario</li>
                  <li>Scenario 1 - where all the fields in the other sections (incl the optional ones) are filled up</li>
                  <li>Scenario 2 - where none of the optional fields been filled</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Are users able to follow the user journey to complete the referral</li>
                  <li>Whether users understand that some information has been filled in other sections within MES will be pull through to this section</li>
                  <li>..</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Users never had to provide Communicable infections to the Coroner - although this is something that the Stakeholder requested; Following UR - we decided to remove this question</li>
                  <li>Medical Device : users were confused with this term; further discussion within the team we found that this ques is for the FD therefore removed it and will be added to the MCCD service</li>
                  <li>UR indicated cases referred to the Coroner are usually made by the MEO (with the advice from ME); Users were inputting the MEO's name in Reporting person fields - this was changed to Referring doctor as Coroner wants details of
                  someone with the GMC number and not the MEO</li>
                  <li>Further research finding can be found <a href="https://miro.com/app/board/o9J_kgGxF1o=/">here</a>
                  </li>
                </ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>No validation errors</li>
                </ul>
                <hr>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/Coroner_referral/portal"><button class="nhsuk-button"
                        type="submit">Scenario 2</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/Coroner_referral/coroner-ref"><button class="nhsuk-button"
                        type="submit">Scenario 1</button></a></p>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 14,15 & 16 - Multi factor authentication</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>MFA - Iteration 2</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis A</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding a MFA <strong>will be a useful feature for</strong> users <strong>as it is a requirement</strong> in terms of security compliant and it enables stronger
                authentication. <strong>This will</strong> reduce the risk of security threat.</p>
                <hr>
                <p>Took learning from MOT Testing's MFA user journey.</p>
                <h3 class="nhsuk-heading-m">What we changed:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Added few more suggestions of authentication apps and letting users decide which app to download</li>
                  <li>Changed the display of 'Key to enter' from Inset text to warning call out</li>
                  <li>To provide better UX; added a screen asking user how are they going to download the app</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Are users able to follow the steps to fully set the authentication app</li>
                  <li>..</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet"></ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>No validation errors</li>
                </ul>
                <hr>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/MFA/Authy/iteration-2/login-page"><button class="nhsuk-button"
                        type="submit">Iteration2 - set up Authy</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/MFA/Sign_in/login-page"><button class="nhsuk-button"
                        type="submit">User signing in once Authy been set up</button></a></p>
              </details>
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>MFA - Iteration 1</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis A</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding a MFA <strong>will be a useful feature for</strong> users <strong>as it is a requirement</strong> in terms of security compliant and it enables stronger
                authentication. <strong>This will</strong> reduce the risk of security threat.</p>
                <hr>
                <p>Took learning from MOT Testing's MFA user journey.</p>
                <h3 class="nhsuk-heading-m">What we changed:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Added few screens to the journey to take users through on how to set the authentication app login</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Are users able to follow the steps to fully set the authentication app</li>
                  <li>..</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Participants understood the need of MFA and was ok to download the app</li>
                  <li>However, participants found difficulities in navigating 3rd party website (Authy) once they have downloaded the app</li>
                  <li>Participant was unsure on how to progress once they have downloaded the app back to our service</li>
                  <li>Participant did not see the key to be entered and went straight to the 2nd point on entering the code & got confused on what to do and did not know how to get the code</li>
                  <li>Participant got confused between the smartphone and desktop app download journey</li>
                </ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>No validation errors</li>
                </ul>
                <hr>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/MFA/Authy/login-page"><button class="nhsuk-button"
                        type="submit">First time logging in - set up Authy</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="me-journey/MFA/Sign_in/login-page"><button class="nhsuk-button"
                        type="submit">User signing in once Authy been set up</button></a></p>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 13 & 14 - Case concerns</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>Case concerns</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis A</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding a case concern <strong>will be a useful feature for</strong> users <strong>as it will</strong> help users to add concerns to a case & to be able to
                produce report for the quarterly report. <strong>This will</strong> help users to complete their tasks.</p>
                <hr>
                <h3 class="nhsuk-heading-m">What we changed:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Add a concern</li>
                  <li>Ability for users to record any concerns pertaining to a case</li>
                  <li>Edit facility to edit details of concern</li>
                  <li>Cateogary of concerns are all based on the required data for the Quarterly Report</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Are the provided fields sufficient for users to record a concern</li>
                  <li>Are users able to complete their task</li>
                  <li>User need identified to add free text box to allow users to key in the name of the Organisation the concern relates to (this was added after the UR session)</li>
                  <li>Using exclamation mark to to flag cases with concerns - this was identified as a user need</li>
                  <li>Are users able to produce QR report with all the relevant fields asked</li>
                  <li>..</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Recorded here : https://miro.com/app/board/o9J_kgGxF1o=/</li>
                  <li>Fields are sufficient and seem to go down well with users</li>
                  <li>Exclamation mark (for cases with case concern) - was received well</li>
                </ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>No validation errors</li>
                </ul>
                <hr>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/Case_concern/add_concern"><button class="nhsuk-button"
                        type="submit">Add a concen</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/Case_concern/open-cases_concern"><button class="nhsuk-button"
                        type="submit">Flagging case concern</button></a></p>
              </details>
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Sprint 14 - Search</span>
            </summary>
            <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text"><small>Search functionality</small></span>
                </summary>
                <h3 class="nhsuk-heading-m">Hypothesis A</h3>
                <p style="background: #dee0e2; padding: 20px"><strong>We believe</strong> adding the Search functionality <strong>will be a useful feature for</strong> users <strong>as it will</strong> help users to locate cases already in the
                system so users can provide updates to others, add additional information within a case & this was identified as a key user need. <strong>This will</strong> help users to confidently use the service.</p>
                <hr>
                <h3 class="nhsuk-heading-m">What we changed:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Added a search link on the header</li>
                  <li>Search criterias added based on User need : First & Last name, Case types, NHS & hosp number</li>
                  <li>Search result page</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Whether or not user able to find the icon to search</li>
                  <li>Are the search criterias sufficient</li>
                  <li>Usability level of the search form</li>
                  <li>..</li>
                </ul>
                <h3 class="nhsuk-heading-m">What we found:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Users found this feature to be useful</li>
                </ul>
                <h3 class="nhsuk-heading-m">Any known issues?</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>No validation errors</li>
                </ul>
                <hr>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/search"><button class="nhsuk-button"
                        type="submit">Search</button></a></p>
                <p class="nhsuk-u-margin-bottom-0"><a href="../me-journey/search-no-results"><button class="nhsuk-button"
                        type="submit">No results</button></a></p>
              </details>
            </div>
          </details>
        </div>
      </details><!--   <h2>
        Documentation
      </h2>

      <ul>
        <li>
          Get started with <a href="/docs">how to guides and page templates</a>
        </li>
        <li>
          Copy and paste styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>
      </ul>

      End of content -->
    </div>{% endblock %}
  </div>
</body>
</html>
