<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  QAP proposed cause of death
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
    <h1>QAP Proposed cause of death</h1>

    <div class="nhsuk-progress-bar">
		<ol class="nhsuk-progress-bar__list">
			<li class="nhsuk-progress-bar__list-item">
				<span class="nhsuk-progress-bar__icon nhsuk-progress-bar__icon--complete"></span>
				<span class="nhsuk-progress-bar__label">Patient details</span>
			</li>
			
			<li class="nhsuk-progress-bar__list-item">
				<span class="nhsuk-progress-bar__icon nhsuk-progress-bar__icon--complete"></span>
				<span class="nhsuk-progress-bar__label">Next of kin</span>
			</li>
			
			<li class="nhsuk-progress-bar__list-item" aria-current="step">
				<span class="nhsuk-progress-bar__icon"></span>
				<span class="nhsuk-progress-bar__label">QAP input</span>
			</li>
			
			<li class="nhsuk-progress-bar__list-item">
				<span class="nhsuk-progress-bar__icon"></span>
				<span class="nhsuk-progress-bar__label">ME Scrutiny</span>
			</li>

			<li class="nhsuk-progress-bar__list-item">
				<span class="nhsuk-progress-bar__icon"></span>
				<span class="nhsuk-progress-bar__label">Escalation or feedback</span>
			</li>

			<li class="nhsuk-progress-bar__list-item">
				<span class="nhsuk-progress-bar__icon"></span>
				<span class="nhsuk-progress-bar__label">Case closed</span>
			</li>
		</ol>
	</div> 
    
    <p class="nhsuk-u-font-weight-bold">Qualified attending practitioner details:</p>

    <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="forename">
		  	Forename(s)
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="forename" name="forename" type="text">
	</div>

	<div class="nhsuk-form-group">
		<label class="nhsuk-label" for="surname">
		  	Surname
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="surname" name="surname" type="text">
    </div>

    <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="gmc-number">
              GMC Number
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="gmc-number" name="gmc-number" type="number">
    </div>

    <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="role">
		  	Role
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="role" name="role" type="text">
    </div>

    <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="contact">
		  	Contact number
		</label>
		<input class="nhsuk-input nhsuk-u-width-one-half" id="contact" name="contact" type="number">
    </div>

    <div class="nhsuk-form-group">
		<label class="nhsuk-label" for="organisation">
            Organisation
		</label>
		<select class="nhsuk-select" id="organisation" name="organisation">
			<option value="one">Organisation One</option>
			<option value="two">Organisation Two</option>
		</select>
    </div>
    
    <p class="nhsuk-u-font-weight-bold">Proposed cause of death:</p>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="one-a">
          1a
        </label>
        <textarea class="nhsuk-textarea" id="one-a" name="one-a" rows="5"></textarea>
    </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="one-b">
          1b
        </label>
        <textarea class="nhsuk-textarea" id="one-b" name="one-b" rows="5"></textarea>
    </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="one-c">
          1c
        </label>
        <textarea class="nhsuk-textarea" id="one-c" name="one-c" rows="5"></textarea>
    </div>

    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
        Add another
    </button>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="relevant-info">
          Other relevant information about the wider care team
        </label>
        <textarea class="nhsuk-textarea" id="relevant-info" name="relevant-info" rows="5"></textarea>
    </div>

	<a class="nhsuk-button" href="/notifications" draggable="false">
		Save and return
	</a>

{% endblock %}
