<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-bc2.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a quick case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %}

<div class="nhsuk-width-container">
   <header class="page-header"><span class="heading-secondary" style="color: #6f777b;font-size: 27px;">Case scrutiny - Martin Lincoln</span>
	
	<h1 class="nhsuk-heading-xl">View note</h1>
  </header>

                <table>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Added by</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Joe Bloggs</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="font-weight:700; padding: 8px 24px 8px 0px;">Details</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">The Registrar advises that it was Louises’ mum, Sheila who was spoken to by the ME Office about the cause of death and not Louise.  Although the daughter understands and agrees that her father had terminal cancer, she says it was a heart attack that caused him to die and at the time her mum just assumed all this information would be on the death certificate.  She is not happy that the MCCD does not reflect this and wants it amending to show both the cancer and heart attack.  </td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                     <a class="nhsuk-link"
                          href="QAP-proposed">Change</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a href="javascript:history.back()">Go back</a>

</div>
</div>

</div>

{% endblock %}
