<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-sidebar-bc-coroner.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Case overview {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-u-margin-bottom-4"><span role="text">Coroner notification</span></h1>
              </div>
            </div>
            <div class="nhsuk-grid-column-full">
              
              <table class="nhsuk-table">
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row"
                      role="row">
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">Notification sent to coroner</td>
                    <td class="nhsuk-table__cell"
                        style="padding: 8px 24px 8px 0px;">16:12 24/09/2021</td>
                    <td class="nhsuk-table__cell"
                        style="text-align: right; padding: 8px 24px 8px 0px;">
                      <a class="nhsuk-link"
                          href="view-coroner-notification-martin-lincoln">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h2 class="nhsuk-heading-l"><span role="text">Coroner response</span></h2>
              <p class="nhsuk-body">No response has been recorded yet. <a class="nhsuk-link"
                 href="coroner-feedback-martin-lincoln">Add coroner response</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS number 997 536 0025</span><span class="nhsuk-caption-m nhsuk-caption--bottom"><span class=
          "nhsuk-u-visually-hidden">-</span> <strong class="nhsuk-tag nhsuk-tag--red">Urgent</strong></span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a href="case-overview-martin-lincoln5">Case details</a>
                </li>
                <li>
                  <a href="case-scrutiny-martin-lincoln5">Case scrutiny</a>
                </li>
                <li>
                  <a href="case-history-martin-lincoln6">Communication and concerns</a>
                </li>                <li>
                  <a class="active"
                      href="coroner-notification-martin-lincoln-sent">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul><!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button==secondary" type="submit">Add note</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>{% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %} {% endblock %}
</body>
</html>
