<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'main-template-bc2.html' %} {% set active = "me-user" %} {% set activesub = "cases" %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Create a case {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
              <a href="javascript:history.back()">Go back</a>
      <h1><span class="nhsuk-caption-l nhsuk-caption--bottom">Location of the death - Martin Lincoln</span>Hospital or acute care setting details</h1>
            <div class="nhsuk-form-group">
              <h3>Name of healthcare provider setting</h3> <input class="nhsuk-input nhsuk-u-width-one-half"
                   id="example"
                   name="example"
                   type="text">
            </div>
            <div class="nhsuk-form-group">
              <h3>Location details</h3>
              <div class="nhsuk-hint"
                   id="example-with-hint-text-hint">
                For example, Ward 2B, or A&E
              </div><input class="nhsuk-input nhsuk-u-width-one-half"
                   id="example"
                   name="example"
                   type="text">
            </div>
            <div class="nhsuk-form-group">
              <fieldset aria-describedby="dob-hint"
                        class="nhsuk-fieldset"
                        role="group">
                <h3>Date of admission</h3><span class="nhsuk-hint"
                          id="dob-hint">For example, 15 3 2022</span>
                <div class="nhsuk-date-input"
                     id="dob">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-day">Day</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="dob-day"
                           name="dob-day"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-month">Month</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                           id="dob-month"
                           name="dob-month"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label"
                           for="dob-year">Year</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                           id="dob-year"
                           name="dob-year"
                           pattern="[0-9]*"
                           type="number">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="nhsuk-form-group">
              <h3>Admission details <span class="optional-span">(optional)</span></h3>
              <div class="nhsuk-hint"
                   id="example-with-hint-text-hint">
                For example, what was the time and reason for admission
              </div>
              <textarea aria-describedby="example-hint"
                   class="nhsuk-textarea nhsuk-u-width-two-thirds"
                   id="example"
                   name="example"
                   rows="5"></textarea>
            </div><a class="nhsuk-button"
                 draggable="false"
                 href="case-overview-martin-lincoln3">Save and continue</a>
            <div class="nhsuk-u-width-one-half">
            </div>
          </div>
        </div>
      </div><!--<div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>Martin Lincoln <span class="nhsuk-caption-m nhsuk-caption==bottom"><span class="nhsuk-u-visually-hidden">-</span> NHS No. 123 456 7890</span></h3>
          <ul>
            <div class="options"
                 id="options">
              <ul>
                <div class="options"
                     id="options"></div>
                <li>
                  <a class="active"
                      href="Case-overview-martin-lincoln">Case details</a>
                </li>
                <li>
                  <a href="Case-history-martin-lincoln">Case history</a>
                </li>
                <li>
                  <a href="scrutiny-martin-lincoln">Case Scrutiny</a>
                </li>
                <li>
                  <a href="coroner-notification-martin-lincoln">Coroner notification</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>-->
    </div>{% endblock %} <!-- Your page content goes inside the content block -->
     <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
     {% block content %} {% endblock %}
  </div>
</body>
</html>
